.about {
	z-index: 3;
	@media (max-width: $screen-sm-min) {
		min-height: 770px;
	}
	.topic-title {
		position: absolute;
		left: 0;
		right: 0;
	}
	.about-info {
		position: absolute;
		max-width: 375px;
		top: 130px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
		margin: 0 15px;
		@media (min-width: $screen-xs-min){
			top:150px;
			margin: 0 auto;
		}
	}
	.about-body {
		div {
			min-height: 150px;
			@media (min-width: $screen-xs-min) {
				min-height: 180px;
			}
			@media (min-width: $screen-sm-min) {
				min-height: 400px;
			}
			background-position: center center;
    		background-size: cover;
		}
	}
}