.cfp {
	.cfp-title {
		 font-family: 'STHeitiTC';
		 font-size: 48px;
		 font-weight: 500;
		 letter-spacing: 3.2px;
		 color: $brand-minor;
		}
	.cfp-sub {
		font-family: 'ArialMT';
		 font-size: 18px;
		 font-weight: normal;
		 line-height: 1.11;
		 letter-spacing: 1.2px;
		 color: $brand-minor;
	}
}

.multi-planet {
	background: url(../images/planet/planet-glay-1@2x.png) no-repeat left  -50px top  -100px,
				url(../images/planet/planet-glay-1@2x.png) no-repeat right -170px top 110px,
				url(../images/planet/planet-glay-2@2x.png) no-repeat right -50px bottom -220px;
	background-size: 270px, 400px, 380px;

	@media (max-width: $screen-sm) {
	    background: url(../images/planet/planet-glay-1.png) no-repeat left  -50px top  -100px,
					url(../images/planet/planet-glay-1.png) no-repeat right -170px top 280px,
					url(../images/planet/planet-glay-2.png) no-repeat right -80px bottom -200px;
		background-size: 270px, 270px, 270px;
  	}
}
