.slash {
	padding: 20px 0px;
	@include skewX(-30deg);
	@include box-sizing(content-box);
	font-size: 1.5em;
	font-family: "Helvetica Neue", Arial;
	font-weight: 300;
	cursor: pointer;
	&:first-child{
		    margin-left: -5px;
		&:after{
			content: "10 / 31";
			@include skewX(30deg);
			display: block;
		}
	}
	
	&:last-child{
		    margin-left: -1px;
		    margin-right: -25px;
		    padding-left: 25px;
	    &:after{
			content: "11 / 01";
			@include skewX(30deg);
			display: block;
		}
	}
	
}
.filter-img {
	@include filter(grayscale(0.4));
}


/*---------------------/

 ** schedule style **

/---------------------*/
.i-allhackpad{
	border: 1px solid #fff;
	margin-top: 15px;
	@include border-radius(3px);
	display: inline-block;
	padding: 10px 20px;
	a {
		color: #fff;
		&:hover{
			text-decoration: none;
		}
	}

}
.mbl-dates {
	display: -webkit-flex;
    display: flex;
    z-index: 2;
    overflow: hidden;
    height: 59px;
    width: 100%;
    margin: 0;
    &.fixTop{
    	@extend %date-active;
    }

}
%date-active {
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: $zindex-common;
}
.mbl-date {
	-webkit-flex: 1;
            flex: 1;
    padding: 20px 0;
    width: 0%;
    &.active{
    	width: 80%;
    	-webkit-flex: initial;
          		flex: initial;
         @include transition(.2s);
    }
    
}

.dkt-dates {
	width: 105vw;
	&.fixTop{
		@extend %date-active;
    }
}
.schedule {
	font-family: "Helvetica Neue", Arial, "Microsoft JhengHei","微軟正黑體";
	font-weight: 300;
	margin-bottom: 30px;
	.schedule-header {
		width: 100%;
		font-size: 1.5em;
		text-align: center;
		margin-bottom: $gutter*2;

		& > span {
			display: inline-block;
			position: relative;
			color: #00565E;
			&:after {
				content: "";
				position: absolute;
				bottom: -$gutter/2;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: #00565E;
			}
		}
	}
	.schedule-body {
		@include display-flex;
		border: 1px solid #ccc;
		height: 200px;
		box-sizing: border-box;

	}
	.schedule-footer {
		border: 1px solid #ccc;
		padding: $gutter;
		display: none;
		& > h4 {
			color: #00565E;
		}
		&.active {
			display: block;
		}
	}
	.schedule-img {
		width: 200px;
		height: 198px;
		overflow: hidden;
		float: left;

	}
	
	.schedule-content {
		@include flex(1);
		background-color: #EFEFEF;
		border-left: 1px solid #ccc;
		color: #00565E;
		float: left;
		position: relative;
		
	}
	.schedule-content-header {
		padding: 0 20px;
		height: 10em;

		& > p {
			height: 3em;
			overflow: hidden;
			line-height: 1.5em;
		}
		
		a {
			text-decoration: none;
			color: #00565E;
			&:hover{
				color: #00565E;
			}
			& + img {
			display: inline-block;
			margin-top: -10px;
			}
		}

		.ellipsis{
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		    overflow: hidden;
		    max-width: 90%;
		    display: inline-block;
		}
	}
	.schedule-content-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		
		& > div {
			height: 30px;
			line-height: 30px;
		}
	}
	.i-slideDown {
		width: 30px;
		height: 30px;
		border: 2px solid #00565E;
		font-size: 1.7em;
		line-height: 1;
		text-align: center;
		@include border-radius(15px);
		cursor: pointer;
		display: inline-block;
		&:after{
			content:"＋";
		}
		&.active:after{
			content:"−";
		}

	}
	.i-hackpad {
		font-size: 1.7rem;
		font-weight: 900;
		@include border-radius(15px);
		cursor: pointer;
		display: inline-block;
		border: 2px solid #00565E;
		padding: 1px 10px;
		margin-right: 5px;
	}
	.i-dont {
		display: inline-block;
	}
	
	@media (max-width: $screen-md-max) {
		.schedule-body {
			display: block;
			height: auto;
			border: none;
			overflow: hidden;
		}
		.schedule-img {
			float: none;
			width: 100%;
			height: auto;
			border: 1px solid #ccc;
		}
		.schedule-content {
			@include flex(initial);
			float: none;
			width: 100%;
			border: 1px solid #ccc;
		}
		.schedule-content-header {
			height: auto !important;
		    padding-bottom: 40px;
		}
		.schedule-footer {
			padding-top: 30px;
		}
		.fz-xs-h1{
			font-size: 34px;
		}		
	}


}
.pdreset{
	box-sizing: border-box;
	width: 100%;
	margin-top: 15px;
	overflow: hidden;
}

/* 2016 mopcon  */




