.topic-title {
    display: block;
    z-index: 2;
    margin-top: 30px;
    font-family: Arial-MT;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    @media (min-width: $screen-xs-min) {
        font-size: 64px;
    }
    &:after {
        content: '';
        display: block;
        width: 41px;
        height: 2px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
}

.speaker-name {
    height: 60px;
    background-color: #1c1751;
    font-family: 'STHeitiTC';
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    color: #ffffff;
    padding: 0 10px;
    a {
        display: block;
        &:after {
            position: absolute;
            right: 10px;
            bottom: 0;
            content: url('../images/article/arrow-down-s.png');
        }
    }
}
.speaker-info {
    position: relative;
    overflow: hidden;
        // height: calc(100% - 60px);
    color: #fff;
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 23, 81, .6);
        div {
            position: absolute;
            bottom: 0;
            padding: 15px;


        }
    }
}
.sponsor {
    .sponsor-title {
        position: relative;
        text-align: center;
        font-size: 20px;
        color:  #fff;
        padding: 20px 0;
        background-color: #1c1751;
        line-height: 1.5em;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url(../images/planet/planet-fff.svg);
            background-repeat: no-repeat;
            background-position: center -115px;
            background-size: 700px;
            opacity: 0.5;
        }
    }
    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .row {
        margin-bottom: 55px;
    }
}