.map {
	position: relative;
  	z-index: 3;
	.map-info {
		position: absolute;
  		top: 70px;
		@media (max-width: $screen-md-min) {
			max-width: 375px;
			margin:0 auto;
			position: relative;
			top: -50px;
		}
	}
	.map-mask {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}