.about-body {
	position: relative;
	&:after, &:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&:after {
		z-index: 2;
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOElEQVQYV43KQQ4AIAgDMPn/o5WRaEQZ0HNlNEwl1bMEWdwJh8Y70fimMEbpiyy5mKUTq2SxkxAXDesoB15HFCkAAAAASUVORK5CYII=");
		opacity: .5;
	}
	&:before {
		z-index: 1;
		background-image: linear-gradient(-45deg, #85CFD0 0%, #1C1751 100%);
		opacity: .5;
		-webkit-filter: contrast(2);
				filter: contrast(2);
	}
}