<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <meta content="行動科技應用開發者年會 | MOPCON 2016 | Mobile / Open / Platform Conference" property="og:title">
    <meta content="http://mopcon.org/2016" property="og:url">
    <meta content="濁水溪以南最強大行動科技研討會，2016強勢回歸" property="og:description">
    <meta content="/images/mopcon2016.png" property="og:image">
    <meta content="200" property="og:image:width" >
    <meta content="200" property="og:image:height" >
    <meta content="website" property="og:type">
    <meta content="行動科技應用開發者年會 | MOPCON 2016 | Mobile / Open / Platform Conference" property="og:site_name">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "web-fonts" %>
    <%= javascript_include_tag  "all/all.js" %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body class="<%= page_classes %>">
    <div class="wrapper" id="particles-js">
        <%= partial "/partials/navbar" %>
        <%= yield %>
        <%= partial "/partials/footer" %>
        <!-- <%= partial "/partials/ticket_button" %> -->
        <%= partial "/partials/googleAnalytics" %>
    </div>
  </body>
</html>
