<div class="relative clearfix mbxl">
    <div class="community container">
        <h3 class="topic-title text-white text-center mbxl">
            ORGANIAING<br/>COMMUNITIES
        </h3> 
        <div class="card container-md clearfix">
        <% current_page.data.communityList.each do |item| %>
			
			<div class="card-body col-sm-6">
				<div class="row">
					<div class="col-sm-6">
						<img src="images/community/<%= item.image %>" alt="" class="img-responsive mbxl">
					</div>
					<div class="col-sm-6 speakerInfo">
						<h3 class="card-head card-gray p0">
							<a href="#"><%= item.name %></a>
						</h3>
						<ul class="socialNetworkLink">
						<% if item.facebook and item.facebook != "" %>
							<li><a href="<%= item.facebook %>" target="_blank">Facebook</a></li>
						<% end %>

						<% if item.github and item.github != "" %>
							<li><a href="<%= item.github %>" target="_blank">Github</a></li>
						<% end %>

						<% if item.blog and item.blog != "" %>
							<li><a href="<%= item.blog %>" target="_blank">Blog</a></li>
						<% end %>

						<% if item.website and item.website != "" %>
							<li><a href="<%= item.website %>" target="_blank">Website</a></li>
						<% end %>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
		</div>
    </div>
</div>  