<footer class="footer">
    <div class="bucket-panel">
        <div class="bucket-row text-center">
          <% if content_for?(:link) %>  
            <%= yield_content :link %>
          <% end %>
        </div>
        <div class="bucket-row">
        	<a href="mailto:contact@mopcon.org" class="email relative">
        		<img src="images/footer/email.png" alt="信箱">
        	</a>
        </div>
        <img src="images/footer/footer-logo.png" alt="mopcon2016" class="img-responsive center-block common-idx">
    </div>
</footer>
