<header class="header text-center relative">
  <div class="planet-logo"></div>
  <div class="header-block">
	<div class="header-logo">
	  <img
	    src="images/article/home-landing-logo.png"
	    srcset="images/article/home-landing-logo@2x.png 2x,
	    		images/article/home-landing-logo@3x.png 3x"
	    alt="mopcon2016"
	    class="img-responsive center-block common-idx">
    </div>
  </div>
</header>