<nav class="navbar navbar-default mb0">
  <div class="">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img src="images/nav/mob-header-scroll-logo.png" alt="mopcon">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/cfp.html">徵稿</a></li>
        <li><a href="/schedule.html">議程</a></li>
        <li><a href="/schedule_unconf.html">交流場次</a></li>
        <li><a href="/speaker.html">講者</a></li>
        <li><a href="javascript:void(0)">贊助</a></li>
        <li><a href="/community.html">主辦社群</a></li>
        <li><a href="http://hackfoldr.org/mopcon2016/">Hackpad</a></li>
        <%# 
        <li><a href="#">2016 hackpad</a></li>
        <li><a href="#">聊天室</a></li>
        %>
      </ul>
       
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">歷年 MOPCON<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://mopcon.org/2015/">- 2015</a></li>
            <li><a href="http://mopcon.org/2014/">- 2014</a></li>
            <li><a href="http://mopcon.org/2013/">- 2013</a></li>
            <li><a href="http://mopcon.org/2012/">- 2012</a></li>
          </ul>
        </li>
        <li class="border-item">
          <a href="?lang=en" hreflang="zh-Hant">EN</a>
          <a href="?lang=zh" hreflang="en-US">中</a>
        </li>
      </ul>
      
 <!--      <ul class="nav navbar-nav navbar-right">
        <li><a class="border-item" href="?lang=en" hreflang="zh-Hant">EN</a></li>
        <li><a class="border-item" href="?lang=zh" hreflang="en-US">中</a></li>
      </ul> -->

    </div>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>