
<div class="relative clearfix mbxl">
    <div class="speaker">
        <h3 class="topic-title text-white text-center mbxl">
            SPEAKER
        </h3> 
        <div class="container-md clearfix">
        <ul class="sepeak-slider">
            <% current_page.data.speakers.each do |item| %>
                <li>
                    <div class="speaker-info">
                        <img src="images/speaker/<%= item.image %>" alt="" height="480" class="img-responsive">
                        <div class="mask">
                            <div>
                                <%= item.info %>
                            </div> 
                        </div>    
                    </div>
                    <div class="speaker-name">
                        <a href="javascript:void(0);">
                            <%= item.name %>
                        </a>
                    </div>
                </li>
            <% end %>
        </ul>
        </div>
    </div>
</div>  