
<div class="relative clearfix mbxl">
    <div class="sponsor container">
        <h3 class="topic-title text-white text-center mbxl">
            SPONSOR
        </h3> 
        <div class="card container-md p0 clearfix">
        <% current_page.data.sponsors.each do |item| %>
			<% if item.TonyStark and item.TonyStark != "" %>
				<div class="sponsor-title">Tony Stark</div>
				<div class="row">
					<div class="col-sm-offset-2 col-sm-8">
					<% item.TonyStark.each do |data| %>
						<a href="<%= data.link %>" target="_blank"><img src="images/sponsor/TonyStark/<%= data.image %>" alt="<%= data.name %>"></a>

					<% end %>
					</div>
				</div>
			<% end %>
			<% if item.BruceWayne and item.BruceWayne != "" %>
				<div class="sponsor-title">Brouce Wayne</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
					<% item.BruceWayne.each do |data| %>
						<a href="<%= data.link %>" target="_blank"><img class="col-sm-6" src="images/sponsor/BruceWayne/<%= data.image %>" alt="<%= data.name %>"></a>

					<% end %>
					</div>
				</div>
			<% end %>
				<div class="sponsor-title">感謝高雄市經濟發展局獎勵會議展覽活動計畫贊助</div>
				<div class="row">
					<div class="col-sm-offset-3 col-sm-6">
						<img class="img-responsive"  src="images/sponsor/SpecialThank/KSG.jpg" alt="高雄市經濟發展局">
					</div>
				</div>
			<% if item.Hacker and item.Hacker != "" %>
				<div class="sponsor-title">Hacker</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
					<% item.Hacker.each do |data| %>
						<a href="<%= data.link %>" target="_blank"><img class="col-sm-4 col-xs-6" src="images/sponsor/Hacker/<%= data.image %>" alt="<%= data.name %>"></a>
					<% end %>
					</div>
				</div>
			<% end %>
			<% if item.Developer and item.Developer != "" %>
				<div class="sponsor-title mbxl">Developer</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
					<% item.Developer.each do |data| %>
						<a href="<%= data.link %>" target="_blank"><img class="col-sm-3 col-xs-6" src="images/sponsor/Developer/<%= data.image %>" alt="<%= data.name %>"></a>
					<% end %>
					</div>
				</div>
			<% end %>
			<% if item.SpecialThank and item.SpecialThank != "" %>
				<div class="sponsor-title mbxl">特別感謝</div>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10">
					<% item.SpecialThank.each do |data| %>
						<a href="<%= data.link %>" target="_blank"><img class="col-sm-3 col-xs-6" src="images/sponsor/SpecialThank/<%= data.image %>" alt="<%= data.name %>"></a>
					<% end %>
					</div>
				</div>
			<% end %>
        <% end %>
        </div>  
    </div>
</div>  