.bucket-panel {
	$padding-left: 70px;
	padding: $bucket-padding;
	.bucket-row {
		margin-bottom: 50px;
		position: relative;
	}
	.bucket-icon {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 44px;
	}
	.bucket-title {
		margin: 0;
		padding: 0;
		font-weight: normal;
	}
	.miner-mg {
		margin-left: -$bucket-padding;
		margin-right: -$bucket-padding;
		margin-bottom: -$bucket-padding;
	}
	.link-btn {
		display: inline-block;
		margin-right: 28px;
		width: 180px;
		height: 38px;
		border: 1px solid #fff;
		padding: 10px 0;
		font-size: 16px;
		margin-top: 100px;
	}
}