.card {
	background-color: #FFF;
	box-shadow: $z-depth-2;
	border-radius: $border-radius-base;
	.card-speaker-title {
		text-align: center;
		color: $brand-minor;
		
		h3 {
			font-size: 48px;
			padding-top: 1em;
			padding-bottom: 0.25em;
			margin: 0;
		}
		.speaker-sub {
			font-size: 18px;
		}
		.speaker-hr {
			width: 40px; 
			height: 1px; 
			background-color: $brand-minor;
			margin-bottom: 40px;
		}
	}
	.card-head {
		font-size: 24px;
		color: $brand-minor;
		margin: 0;
		padding: $card-vertical-padding $card-horizontal-padding;
		&.comma {
			position: relative;
			padding-left: 36px;
			&:before {
				content: url(../images/article/article-title.png);
				width: 26px;
				height: 41px;
				left: 0px;
				top: 18px;
				position: absolute;
				border-bottom: 1px solid $navbar-default-link-hover-color;
			}
		}
		&.card-gray {
			background: rgba(152, 152, 152, 0.05);
		}
		a {
			color: $brand-minor;
		}
	}
	.card-sub {
		padding-left: 40px;
		font-size: 18px;
		color: $brand-minor;
		margin-top: 0;
	}
	.card-body {
		padding: $card-vertical-padding $card-horizontal-padding;
		&.pd50 {
			padding: 50px;
		}
	}
	.card-body + .card-body {
		border-top: 1px solid $gray-lighter;
	}
	.card-footer {
		padding: $card-vertical-padding $card-horizontal-padding;
		border-top: 1px solid $gray-lighter;
	}
	& + & {
		margin-top: $card-gutter;
	}
	.avatar {
		border-radius: 50%;
		width: 150px;
		height: 150px;
	}
}

.socialNetworkLink {
	@include clearfix;
	padding: 0;
	list-style-type: none;
	margin-top: 18px;
	font-family: HelveticaNeue-Light;
	li {
		float: left;
		a {
			color: #ae8cbf;
			font-size: 14px;
			line-height: 1.4;
		}
		&:nth-child(2) a, &:nth-child(3) a, &:nth-child(4) a{
			&:before { 
				content: "|"; 
				color: #ae8cbf;
				padding: 0 5px;
				z-index: 2; 
			}

		}
	}
}

.speakerInfo {
	margin: 5px 0;
	font-family: STHeitiTC-Light;
    font-size: 14px;
    line-height: 1.4em;
    text-align: justify;
    color: #262626;
    ul, ol {
    	padding-left: 15px;
    }
    .socialNetworkLink {
    	padding: 0;
    }
}

/* single page
------------------------*/
.mbxl-impot {
  margin-bottom: $gap-large*2 !important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.detail-gray {
	.detail {
	    padding: 0 20px;
	}
}

@media (min-width: 768px) {
	.detail-gray {
		background-color: #f3f3f3;
		.detail {
    		margin-left: 15px;
			border-left: solid 1px #1c1751;
		}
	}
}
// fake padding
.detail-bottom {
	height: 200px;
}
