.footer {
    z-index: 3;
	padding-top: 70px;
	padding-bottom: $bucket-padding; 
	@media (min-width: $screen-sm-min) {
    	.cfp-link{
			margin-right: 28px;
			&:last-child {
				margin-right: 0;
			}
		}
  	}
  	@media (max-width: $screen-xs){
  		.cfp-link{
  			display: block;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
  	}
	.email {
		display: block;
		width: 74px;
		height: 74px;
		border: 1px solid #fff;
		border-radius: 50%;
		margin: 0 auto;
		&:hover,
		&:focus,{
			box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.5);
		}
		&:after {
			content: url(../images/footer/keyboard-arrow-down.png);
			bottom: 0;
			position: absolute;
			left: 26px;
			bottom: -30px;
			margin: auto;
			    
		}
		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}