.header {
	// @include background-image(linear-gradient(18deg, #85cfd0, #1c1751));
  	z-index: 3;	
	overflow: hidden;
	.header-info-box {
		background-color: rgba(255,255,255,.95);//#FFF;
		display: inline-block;
		padding: 20px;
		//margin-top: -$header-vertical-padding;
		//margin-bottom: $header-vertical-padding;
		margin-left: auto;
		margin-right: auto;
		z-index: $zindex-common;
		// text-align: justify;
		@media (max-width: $screen-sm-min) {
			margin-top: -$header-vertical-padding;
		}
		.en-location {
			font-size: 16px;
			color: #AAAAAA;
		}
		.tw-location {
			font-size: 16px;
		}
		hr {
			border-top-color: $brand-primary;
			width: 50%;
		}
		.num-date {
			font-size: 20px;
			color: #F8A48A;
		}
		.num-year {
			font-size: 40px;
			color: #333;
			font-weight: 300;
			letter-spacing: 2px;
		}

	}
	.header-block{
		position: relative;
		z-index: 3;
		.header-logo{
			margin-top: 200px; 
			margin-bottom: 30px;
			@media (max-width: $screen-sm-min) {
				margin-top: 75px;
				padding-left: 25%;
				padding-right: 25%;
				
			}
			position: relative;
			width: 100%;
			height: 100%;
			// &>img{
			// 	padding-bottom: 45px;
			// 	@media (max-width: $screen-sm-min) {
			// 		padding-top: $header-vertical-padding/2;
			// 	}
			// }
			.mopcon-action{
				padding-top: 120px;
				@media (max-width: $screen-sm-min) {
					padding-top: 20px;
					width: 180px;
				}
			}
			.mopcon-needyou{
				padding-top: 45px;
			}
		}
	}
	.header-event {
		margin-bottom: 100px;
		@media (max-width: $screen-sm-min) {
			margin-bottom: 45px;
		}
	}
	.planet-logo {
		background-image: image-url("planet/planet-fff.png");
		background-image: none, image-url("planet/planet-fff.svg");
		width: image-width("planet/planet-fff.png");
		height: image-height("planet/planet-fff.png");
		// opacity: 0.1;
		position: absolute;
		right: -(image-width("planet/planet-fff.png") / 2);
		top: -(image-height("planet/planet-fff.png") / 2);
		@include animation(infinite-rotate 360s infinite linear);
		@media (max-width: $screen-sm-min) {
			display: none;
		}
	}
}
.particles-js-canvas-el {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
