.schedule-nav {
	@include clearfix;
	list-style-type: none;
	margin-bottom: -3px;
	overflow: inherit;
	padding: 0;
	background-color: #f4f4f4;
	border-radius: 5px;
	z-index: 99;
	.schedule-day {
		float: left;
		width: 50%;
		border-radius: 5px;
		background-color: #f4f4f4;
		text-align: center;
		position: relative;
		padding: 10px 0;
		cursor:pointer;
		h3 {
			line-height: 36px;
		}
		h3, h4 {
		    font-weight: 300;
		}
	}
	.active {
		background-color: #58479d;
		color: #FFF;
		&:after {
			content: "";
			position: absolute;
			bottom: -10px;
			border-style: solid;
			left: calc(50% - 15px);
			border-width: 10px 10px 0 10px;
			border-color: #58479d transparent transparent transparent;
			z-index: 99999;
		}
	}
}
.schedule-block {
	font-family: "Helvetica Neue", Arial, "Microsoft JhengHei", "微軟正黑體";
	font-weight: 300;
	list-style-type: none;
	padding: 40px 0;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: 10%;
		width: 1px;
		height: 40px;
		background: #eaeaea;
		z-index: 88;
		@media (max-width: $screen-xs) {
			left: 15%;
		}
	}
	&:after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 10%;
		width: 1px;
		height: 40px;
		background: #eaeaea;
		z-index: 99999;
		@media (max-width: $screen-xs) {
			left: 15%;
		}
	}
	h1,h2,h3,h4,h5,h6{
		margin: 0;
		padding: 0;
	}
	.schedule-li {
		margin-bottom: 5px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 10%;
			width: 1px;
			height: 5px;
			background: #eaeaea;
			z-index: 99999;
			@media (max-width: $screen-xs) {
				left: 15%;
			}
		}
	}
}

.schedule-event {
	background: rgba(152, 152, 152, 0.05);
	@include clearfix;
	.time {
		float: left;
		position: relative;
		padding-top: 15px;
		padding-bottom: 10px;
		width: 10%;
		color: #333333;
		text-align: center;
		font-size: 18px;
		@media (max-width: $screen-sm) {
			font-size: 16px;
		}
		@media (max-width: $screen-xs) {
			width: 15%;
			font-size: 14px;
		}
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			right: -8px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: 2px solid #eaeaea;
			background: #FFF;
			z-index: 99999;
			@media (max-width: $screen-xs) {
				display: none;
			}
		}
		
	}
	.info {
		float: left;
		width: 90%;
		padding: 15px 10px 10px 40px;
		border-left: 1px solid #eaeaea;
		color: #408182;
		@media (max-width: $screen-xs) {
			width: 85%;
		}
	}
}

.schedule-sub-info {
	@include clearfix;
	list-style-type: none;
	margin-top: 5px;
	color: #408182;
	padding: 0;
	position: relative;
	li {
		float: left;
		margin-right: 10px;
	}
	.topic {
		min-width: 30%;
		max-width: 50%;
		@media (max-width: $screen-xs) {
			float: none;
			min-width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
		}
	}
	.toggle-icon {
		width: 19px;
	    height: 15px;
	    cursor:pointer;
		@media (max-width: $screen-xs) {
			width: 24px;
	    	height: 20px;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
	}
	.schedule-off {
		background: url(../images/schedule/arrow-detail-down.png) no-repeat;
		background-size: 19px 15px;
		@media (max-width: $screen-xs) {
			background-size: 24px 20px;
		}
	}
	.schedule-on {
		background: url(../images/schedule/arrow-detail-up.png) no-repeat;
		background-size: 19px 15px;
		@media (max-width: $screen-xs) {
			background-size: 24px 20px;
		}
	}
	.room {
		@media (max-width: $screen-xs) {
			margin-bottom: 10px;
			float: none;
		}
	}
	.hackmd {
		border-radius: 5px;
		border: 1px solid #408182;
		padding: 0 10px;
	}
	.onVideoRecord {
		background: url(../images/schedule/idont-03.png) no-repeat;
		width: 25px;
		height: 25px;
		margin-top: -5px;
		background-size: cover;
		@media (max-width: $screen-xs) {
			margin-top: 0px;
		}
	}
}

.schedule-detail {
	// display: none;
	margin-left: 10%;
	padding: 20px;
	border-left: 1px solid #eaeaea;
	@media (max-width: $screen-xs) {
		margin-left: 15%;
	}
	.schedule-detail-title {
		position: relative;
    	padding-left: 46px;
    	padding-bottom: 22px;
	    font-weight: 500;
		color: #408182;
		&:before {
			content: url(../images/article/article-title.png);
			width: 26px;
			height: 41px;
			left: 0px;
			top: 0px;
			position: absolute;
			border-bottom: 1px solid $navbar-default-link-hover-color;
		}
	}
	.schedule-link {
		min-height: 50px;
	}
}

@media (min-width: 768px) {
	.detail-gray {
		background-color: #f3f3f3;
		.detail {
    		margin-left: 15px;
			border-left: solid 1px #1c1751;
		}
	}
}







