//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// .outer-col {
//   margin-right: -($grid-gutter-width/2);
//   margin-left: -($grid-gutter-width/2);
//   padding: $grid-gutter-width;
//   box-shadow: 0 0 0 5px $gray-lighter inset;
// }

// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// Capstrap
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.pos-r0 {
  right: 0;
}
.pos-l0 {
  left: 0;
}
.pos-b0 {
  bottom: 0;
}
// margin and padding
// -------------------------
.mb0 {
  margin-bottom: 0 !important;
}

.mbs {
  margin-bottom: $gap-small;
}
.mbm {
  margin-bottom: $gap-base;
}
.mbl {
  margin-bottom: $gap-large;
}
.mbxl {
  margin-bottom: $gap-large*2;
}
.mt0 {
  margin-top: 0 !important;
}
.p0 {
  padding: 0 !important;
}
.mts {
  margin-top: $gap-small; 
}
.mtm {
  margin-top: $gap-base; 
}
.mtl {
  margin-top: $gap-large; 
}
.mtxl {
  margin-top: $gap-large*2; 
}
.mrs {
  margin-right: $gap-small;
}
.prm{padding-right: $gap-base;}

.pdm {
  padding: $gutter;
}

// background
.res-background {
  background-size: cover;
}
.bg-p-center {
  background-position: center center;
}
.bg-light-gray {
  background-color: #FAFAFA;
}
.bg-green {
  background-color: #007084;
}
.bg-light-green {
  background-color: #B5D361;
}
.bg-deep-blue {
  background-color: #056C6E;
}
.bg-transparent-black {
  background-color: rgba(black, .75);
}
.bg-linear-green {
   background: linear-gradient(73deg, #85cfd0, #7dc2c7 7%, #1c1751) no-repeat;
   // background-size: 100% 5000px;
}
.bg-pink{ background-color: #F8A48A;}
.bg-gray{ background-color: #aaa;}
.bg-dot {
  &:after {
    content: "";
    @include background-image(radial-gradient(black 1px, rgba(black,.3) 1.5px));
    @include transition(1s);
    background-size: 3px 3px;
    background-position: center center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
}
.bg-slash { 
    background: repeating-linear-gradient(
    45deg,
    rgba(133, 207, 208, 0.2),
    rgba(0, 0, 0, 0.2) 5px,
    rgba(28, 23, 81, 0.3) 5px,
    rgba(0, 0, 0, 0.3) 10px
    ),
    url(https://c4.staticflickr.com/8/7466/15473457969_dbb2bb98f0_h.jpg);
    -webkit-background: repeating-linear-gradient(
    73deg,
    rgba(133, 207, 208, 0.2),
    rgba(133, 207, 208, 0.2) 5px,
    rgba(28, 23, 81, 0.3) 5px,
    rgba(28, 23, 81, 0.3) 10px
    ),
    url(https://c4.staticflickr.com/8/7466/15473457969_dbb2bb98f0_h.jpgco);
    background-repeat: repeat, no-repeat;
    background-size: 50px 50px, cover;

}
// ilandy add it -- start
.bg-gray {
  @include filter(grayscale(1));
  @include transition(2s);
}
.bg-coloranimation {
  @include filter(grayscale(0));
  &:after {
    opacity: 0;
  }
}
.ovh{
  overflow: hidden;
  width: 100vw;
}
@media (max-width: $screen-sm-max) {
  .bg-gray {
    @include filter(grayscale(0));
  }
}
.common-idx { position: relative; z-index: $zindex-common; }
.super-idx { position: relative; z-index: 9999; }

.fc-primary{ color: $brand-primary; }
.fc-dark { color: #056C6E !important; }

// ilandy add it -- end
// other little object
hr.thin-fragment {
  max-width: 55px;
  border-top: $brand-primary 1px solid;
}