;;;

"title": "Welcome to MOPCON",
"communityList": [
	{
	    "name": "KSDG",
	    "image": "ksdg.jpg",
	    "info": "Kaohsiung Software Developer Group 是高雄從事軟體開發、網路技術開發者一起交流的園地，2012/05首度聚會活動。<br>目前每月舉辦 Meet-up 及 Web Course 各一場，交流主題涵蓋各種軟體技術，歡迎對軟體開發技術有興趣的朋友可以踴躍參與。",
	    "facebook": "https://www.facebook.com/groups/KSDGroup",
	    "website": ""
	},
	{
	    "name": "CocoaHeads Kaohsiung",
	    "image": "cocoaheads.jpg",
	    "info": "CocoaHeads Kaohsiung 定位為南台灣 Mac/iOS 開發者的固定聚會。聚會不定期邀請各地講者與會員特定主題或經驗分享。<br>您可能會遇到：開發者在聚會上分享各自的心得與點子。<br>也可能會遇到：開發者在聚會上與使用者面對面溝通，與其他開發人員面對面分享。<br>您可能會在此找到新合作夥伴或更有挑戰性的工作、甚至新的商機。",
	    "facebook": "https://www.facebook.com/groups/cocoaheads.kaohsiung",
	    "website": "http://cocoaheads.org:8106/tw/Kaohsiung/index.html"
	},
	{
	    "name": "MOSUT",
	    "image": "mosut.jpg",
	    "info": "MOSUT (Meet Open Source Users in Tainan) 是一群生活在台南、對資訊科技有熱情的朋友共同發起的聚會。 關注開放標準/開放規格、自由軟體 / 開放原始碼，進而到開放硬體等議題。<br>每兩周舉辦一次聚會，提供大學院校、公司團體，以及個人作技術討論交流的機會。",
	    "facebook": "https://www.facebook.com/groups/mosut",
	    "website": "https://code.google.com/p/mosut/"
	},
	{
	    "name": "KIMU",
	    "image": "kimu.jpg",
	    "info": "高雄獨立遊戲開發者聚會(Kaohsiung Indies Meet Up)，簡稱KIMU。2012年由中山大學促進產業發展研究中心協助成立。 是一個以高雄為活動據點，推動南臺灣獨立遊戲開發國際化與相關產業活動的非營利性社群組織。",
	    "facebook": "https://www.facebook.com/groups/kimugroup",
	    "website": ""
	},
	{
	    "name": "KaLUG",
	    "image": "kalug.jpg",
	    "info": "Kaohsiung Linux User Group (KaLUG) 是由一群熱愛 open source / free software 的高雄人所組成的團體。 平日討論的主題有 Linux, Debian, Ubuntu, Vim, Emacs, Git, Python, shell script, Drupal, OpenStreetMap, Security ... 等。",
	    "facebook": "https://www.facebook.com/groups/kalug.tw/",
	    "website": "http://kalug.linux.org.tw"
	},
	{
	    "name": "高雄前端社群",
	    "image": "kf2e.jpg",
	    "info": "高雄前端社群於 2013 年 3 月 31 日創立， 每月固定舉辦前端主題聚會，歡迎網頁設計師一塊前來交流。",
	    "facebook": "https://www.facebook.com/groups/358503154261390",
	    "website": "http://gonsakon-7655f2.kktix.cc/"
	},
	{
	    "name": "Mobile Girls",
	    "image": "mobile_girls.jpg",
	    "info": "Mobile Girls 是由一群熱愛 iOS 與 Android 朋友所成立的社群，宗旨是希望能夠推廣 iOS/Android 程式語言給女性初學者，讓想了解 iOS 和 Android 的女性能有一個機會學習。我們歡迎沒有電腦程式設計基礎的女性朋友來參加，如果您對於 iOS/Android 的任何新奇有趣的 App 設計、原理及應用感到興趣，您將可以在這個環境找到同好，並藉由業界專業教練的指導，在小組內共同合作打造它，實現您在 App 世界的專屬夢想！",
	    "facebook": "https://www.facebook.com/mobilegirlsfans",
	    "website": "http://mobile-girls.kktix.cc"
	},
	{
	    "name": "GDG Kaohsiung",
	    "image": "gdg.jpg",
	    "info": "Google Developer Group Kaohsiung (原Android高雄開發者社群) 從事 Android App、Embedded 及 Design 一起交流的園地，2014 首次聚會活動，目前活動活動時間為每月第三週的禮拜四 meet-up，歡迎對 Android 有興趣的朋友可以參與聚會。",
	    "facebook": "https://www.facebook.com/groups/1416205511963346/",
	    "website": "http://akdg.kktix.cc/"
	},
	{
		"name": "DESIGN plus",
	    "image": "designPlus.jpg",
	    "info": "設計+，讓高雄設計能量聚集與交流<br>DESIGN plus in Kaohsiung<br><br>我們相信這個社會需要設計師美化工作，也惋惜南部沒有一個設計類社群能讓大家彼此交流。因此Colour Design成立這個社群，期盼能夠給予設計師友誼與資訊，讓設計師們都能在這裡彼此討論，互相成長。<br><br>我們期許「設計+」能匯集南部的設計資源，透過交流與討論來增進設計的能量，進而用設計師們的美感一點一滴活潤社會美感。",
	    "facebook": "https://www.facebook.com/groups/designplus.kh",
	    "website": ""
	},
	{
		"name": "創業台槓",
	    "image": "startupTalk.jpg",
	    "info": "創業台槓 希望經由每個月的分享活動，建立一個跨領域的創業交流平台，藉由分享和對談，讓企業家、創業團隊、設計師、工程師、夢想家、學生能夠激盪出火花。每月都會邀請新創團隊、或各領域專家分享經驗，無論您是創業中、想創業、或是創業有成，都歡迎您來參加認識新夥伴、挑戰創業新構想。",
	    "facebook": "https://www.facebook.com/STalkTW",
	    "website": ""
	},
	{
		"name": "App 台槓",
	    "image": "appTalks.jpg",
	    "info": "App 台槓 - App Talks 成立於 2013 年 12 月，宗旨爲提供南部 App 創業家們一個互相交流與共同成長的聚會。主軸聚焦於 App 產品企劃、使用者體驗，以及商業模式之探討。期待能為南部孕育出國際級的 App 創業團隊。",
	    "facebook": "https://www.facebook.com/groups/603200143049273",
	    "website": ""
	}
]


;;;

<%= partial "/partials/header_landing_logo" %>

<div class="container-md">
	<div class="card">
		<div class="multi-planet">
			<div class=" card-speaker-title">
				<h3>主辦社群</h3>
				<h4>Organizing Communities</h4>
				<hr class="speaker-hr">
			</div>
			
			<% current_page.data.communityList.each do |item| %>
			<h3 class="card-head card-gray">
				<a href="#"><%= item.name %></a>
			</h3>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-3">
						<img src="images/community/<%= item.image %>" alt="" class="img-responsive mbxl">
					</div>
					<div class="col-sm-9 speakerInfo">
						<p>
							<%= item.info %>
						</p>

						<ul class="socialNetworkLink">
						<% if item.facebook and item.facebook != "" %>
							<li><a href="<%= item.facebook %>" target="_blank">Facebook</a></li>
						<% end %>

						<% if item.github and item.github != "" %>
							<li><a href="<%= item.github %>" target="_blank">Github</a></li>
						<% end %>

						<% if item.blog and item.blog != "" %>
							<li><a href="<%= item.blog %>" target="_blank">Blog</a></li>
						<% end %>

						<% if item.website and item.website != "" %>
							<li><a href="<%= item.website %>" target="_blank">Website</a></li>
						<% end %>
						</ul>
					</div>
				</div>
			</div>
			<% end %>

		</div>
	</div>
</div>

