;;;

"title": "Welcome to MOPCON",
"speakers": [
  {
    "name": "宋志峰（Anistar）",
    "info": "目前現職服務於雅虎奇摩，負責帶領超級商城與拍賣 APP 開發，<br/>專注在專案軟體架構規劃與開發，熱愛分享自己的經驗。<br/>具備 10 年以上的專案開發經驗，<br/>7 年的專業講師資歷，<br/>開發的 Magic Shutter 曾獲得 NewYork Times 推薦最佳前十大攝影軟體推薦。",
    "image": "anistar.jpg",
    "facebook": "http://fb.me/anistarsung"
  },
  {
    "name": "Akane Lee",
    "info": "嫁給 RD 的 UI Designer。",
    "image": "akane_lee.jpg",
    "facebook": "http://fb.me/uiux.akane",
    "blog": "http://akanelee.me"
  },
  {
    "name": "陳坤助（KNY）",
    "info": "KNY Co. 執行長<br/>中華民國 App 跨界交流協會 理事長<br/>臺灣防災產業協會 常務理事／地震災害防制委員會 主委<br/>臺灣開放資料聯盟 副會長／App 應用召集人<br/>交通部／經濟部／環保署 政府資料開放諮詢小組 委員<br/>AppDC 台灣 App 開發者社群 共同發起人<br/><br/>長期關注與推動台灣 App 產業的發展，並積極倡議台灣 OpenData 的發展。希望能透過科技與開放的力量，建構更美好的未來。",
    "image": "kny.jpg",
    "facebook": "http://fb.me/KNYChen",
    "website": "http://kny.cc"
  },
  {
    "name": "吳仁弘（Rick Wu）",
    "info": "三竹資訊出包工程師 <br/>透過不斷的出包來攝取經驗值<br/>對於買書有莫名的熱愛<br/>專長是與別人交流書單<br/>在網路上撰寫部落格，來達到誤人子弟的效果（？）",
    "image": "rick_wu.jpg"
  },
  {
    "name": "貝克菜",
    "info": "國外獨資一間健康食品品牌，台灣擁有兩間合夥品牌公司跟獨資一間系統公司，專長是幫助新創公司優化，成長，行銷跟自動化。",
    "image": "tony_tsai.jpg",
    "website": "http://tonytsai.com/"
  },
  {
    "name": "吳承翰",
    "info": "我喜歡好的產品，也開發好的產品；我寫的不是程式，是理想。",
    "image": "max_wu.jpg",
    "facebook": "http://fb.me/TakeHackMD",
    "github": "https://github.com/hackmdio/hackmd/",
    "website": "https://hackmd.io/"
  },
  {
    "name": "董福興（Bobby Tung）",
    "info": "在台灣推動 EPUB 3 電子書格式與數位出版改革，目前為大塊文化與台灣漫讀（BookWalker Taiwan）的顧問。2013年起參與 W3C 活動，為中文排版需求（CLREQ）的編輯與邀請專家。希望能夠改善中文電子書與 Web 內容的排版表現，保留傳統並提高使用者閱讀體驗。",
    "image": "bobby_tung.jpg",
    "facebook": "http://fb.me/Bobbytung"
  },
  {
    "name": "古宗禎（Denny Ku）",
    "info": "喜歡前端、Serverless，最近也迷上了自然語言處理。 I'm a false positive front-end engineer.",
    "image": "denny_ku.jpeg",
    "github": "https://github.com/abalone0204",
    "blog": "http://abalone0204.github.io/",
    "linkin": "https://tw.linkedin.com/in/denny-ku-a9a21396/zh-tw"
  },
  {
    "name": "魏銘信（Ivan Wei）",
    "info": "在移動互聯網與消費性電子產業，從事用戶體驗設計多年，具有軟體與硬體產品開發的豐富經驗；也曾得過 iF 與 Red Dot 等設計大獎，目前在獵豹移動負責用戶量破億的 Android App「CM Security」介面設計。",
    "image": "ivanwei.jpg",
    "facebook": "http://fb.me/ivangraphic",
    "blog": "https://medium.com/@ivangraphic",
    "linkin": "https://tw.linkedin.com/in/ivangraphic"
  },
  {
    "name": "鄭鈞隆（Chris Jeng）",
    "info": "目前任職於 PayEasy，五年經驗的 Android 開發者，目前熱衷研究各種跨平台技術的無限可能，業餘時間也致力於將技術回饋社會的想法，開發找廁所 App，造福行動不便者找廁所無障礙。",
    "image": "chris_jeng.jpg",
    "facebook": "http://fb.me/chris.cheng.31",
    "github": "https://github.com/ULei",
    "blog": "https://millenniummeetonce.blogspot.tw/",
    "website": "https://play.google.com/store/apps/details?id=tw.com.bluemoon.findbenso&hl=zh_TW"
  },
  {
    "name": "吳以尋",
    "info": "遊戲製作人、作曲家以及軟體工程師，任職於臺灣遊戲開發商希娜科藝，目前身兼遊戲製作人與執行長的工作，代表作為《境界之詩》。<br/><br/>畢業於國立東華大學資訊工程研究所，於四年前碩士班研究所畢業的時候，創設遊戲製作公司希娜科藝，並擔任執行長兼遊戲製作人。",
    "image": "wu_yi_syun.jpg",
    "facebook": "http://fb.me/ludwig.i.wu"
  },
  {
    "name": "王銓彰",
    "info": "王銓彰於虛擬實境與擴增實境領域研發超過 10 年以上，同時也是動畫及遊戲開發業界的風雲人物。他曾研發多套遊戲引擎，是動新聞快速動畫製作技術的發明者，深耕之路上更有和產官學各界合作的豐富經驗。",
    "image": "wang_cyuan_jhang.jpeg",
    "facebook": "http://fb.me/chuanchang.wang"
  },
  {
    "name": "樊立勳（John Fan）",
    "info": "John is cofounder and CEO of PicCollage, a photo app with 100+ million downloads.  He attended Princeton University and received a Ph.D. in Electrical Engineering from Stanford University.  He previously worked for a wireless startup that was acquired by Qualcomm.  <br/>John 為 PicCollage 的共同創辦人及執行長，於台灣出生，在美國長大，畢業於普林斯頓大學，並於史丹佛大學取得電機博士。在創業前，John 過去任職於無線通訊相關的新創公司，經歷了新創公司成長並被高通收購的過程。",
    "image": "john_fan.png"
  },
  {
    "name": "王景弘（TonyQ）",
    "info": "資深網站系統工程師，致力於用資訊系統再造既有流程。",
    "image": "tonyq.jpg",
    "facebook": "http://fb.me/tonylovejava",
    "website": "https://www.facebook.com/groups/javascript.tw/?fref=ts"
  },
  {
    "name": "蔡一郎（Yi-Lang Tsai）",
    "info": "目前擔任 Cloud Security Alliance 台灣分會創辦人與第一屆理事長，服務於國家高速網路與計算中心，亦為 The Honeynet Project 台灣分會負責人、TWCSIRT 團隊負責人，熟悉資訊安全領域相關技術，涵蓋系統安全、網路安全、管理制度、資訊探勘與數位鑑識等領域，經常受邀於國內外資訊安全會議演講，目前已有 34 本電腦資訊圖書著作。",
    "image": "tsai_yi_lang.jpg",
    "blog": "http://blog.yilang.org/"
  },
  {
    "name": "周益鑫（James Chou）",
    "info": "是一個從大三就半路出家的創業者，因為對於世界充滿著想要改變的熱情，所以從 2014年開始，就在校園裡面開啟了 Colorgy 的品牌，希望透過自身的力量，翻轉校園。創造更多年輕人會喜歡的產品。<br/>主要負責帶領團隊規劃未來方向跟營運策略，專注在跟如何讓使用者愛上我們，熱愛聊天，喜歡到處與人分享交流。希望透過瞭解更多人的故事，填滿自己對於世界的求知慾！",
    "image": "james_chou.jpg",
    "facebook": "http://fb.me/yishin.chou.5"
  },
  {
    "name": "Kuro Hsu",
    "info": "現職前端工程師，五倍紅寶石兼任講師，長期專注網頁前端標準技術。<br/>Vue.js 愛好者，曾多次參與前端社群分享心得，期望透過技術也能在傳統產業掀起不同的新浪潮。",
    "image": "kuro_hsu.png",
    "facebook": "http://fb.me/kurotanshi",
    "blog": "http://kuro.tw/"
  },
  {
    "name": "羅志達（Kelvin Lo）",
    "info": "作為一個 Unity 原廠講師，Kelvin 致力於將 Unity 開發技術有效的傳達給開發者。待過遊戲研發 13 年，同時也是個資深玩家的他，認為台灣開發者最大問題並非技術，更多是需要出來交流。他很樂意協助台灣開發者，在遇到問題除了 Google 之外，能有更多管道解決。",
    "image": "kelvin_lo.jpg",
    "facebook": "http://fb.me/dada.artist"
  },
  {
    "name": "李卿澄（qcl）",
    "info": "玉樹臨風，風度翩翩又喜歡吃喝的 Yahoo Mobile App Engineer。參與過多個 Yahoo Mobile App 的開發。日常除了寫 App 外，對自然語言處理、前端、瀏覽器插件等技術亦稍有涉略。最近正在研究如果吃了無敵星星之後該如何不照正常的路數玩遊戲。",
    "image": "qcl.jpg",
    "facebook": "http://fb.me/qingchengli.tw",
    "github": "https://github.com/qcl"
  },
  {
    "name": "劉于遜（ Davidd Liu）",
    "info": "劉于遜於 2011 年創立歐酷網路，2013 年推出 CHOCOLABS 品牌致力於優質 APP 的研發及推廣，至今累積超過 29 支 iOS 和 Google Play 海內、外冠軍作品，並達到 800 萬次的下載量及平均每月 160 萬的活躍使用者；目前公司主打影劇相關產品並推出自製戲劇，積極經營正規影音平台欲成為台灣新媒體力量；也盼將熱門影音產品的經營模式複製到東南亞市場達到品牌全球化。",
    "image": "davidd.jpg",
    "facebook": "http://fb.me/DAVIDD0629"
  }
],
"communityList": [
    {
        "name": "KSDG",
        "image": "ksdg.jpg",
        "info": "Kaohsiung Software Developer Group 是高雄從事軟體開發、網路技術開發者一起交流的園地，2012/05首度聚會活動。<br>目前每月舉辦 Meet-up 及 Web Course 各一場，交流主題涵蓋各種軟體技術，歡迎對軟體開發技術有興趣的朋友可以踴躍參與。",
        "facebook": "https://www.facebook.com/groups/KSDGroup",
        "website": ""
    },
    {
        "name": "CocoaHeads Kaohsiung",
        "image": "cocoaheads.jpg",
        "info": "CocoaHeads Kaohsiung 定位為南台灣 Mac/iOS 開發者的固定聚會。聚會不定期邀請各地講者與會員特定主題或經驗分享。<br>您可能會遇到：開發者在聚會上分享各自的心得與點子。<br>也可能會遇到：開發者在聚會上與使用者面對面溝通，與其他開發人員面對面分享。<br>您可能會在此找到新合作夥伴或更有挑戰性的工作、甚至新的商機。",
        "facebook": "https://www.facebook.com/groups/cocoaheads.kaohsiung",
        "website": "http://cocoaheads.org:8106/tw/Kaohsiung/index.html"
    },
    {
        "name": "MOSUT",
        "image": "mosut.jpg",
        "info": "MOSUT (Meet Open Source Users in Tainan) 是一群生活在台南、對資訊科技有熱情的朋友共同發起的聚會。 關注開放標準/開放規格、自由軟體 / 開放原始碼，進而到開放硬體等議題。<br>每兩周舉辦一次聚會，提供大學院校、公司團體，以及個人作技術討論交流的機會。",
        "facebook": "https://www.facebook.com/groups/mosut",
        "website": "https://code.google.com/p/mosut/"
    },
    {
        "name": "KIMU",
        "image": "kimu.jpg",
        "info": "高雄獨立遊戲開發者聚會(Kaohsiung Indies Meet Up)，簡稱KIMU。2012年由中山大學促進產業發展研究中心協助成立。 是一個以高雄為活動據點，推動南臺灣獨立遊戲開發國際化與相關產業活動的非營利性社群組織。",
        "facebook": "https://www.facebook.com/groups/kimugroup",
        "website": ""
    },
    {
        "name": "KaLUG",
        "image": "kalug.jpg",
        "info": "Kaohsiung Linux User Group (KaLUG) 是由一群熱愛 open source / free software 的高雄人所組成的團體。 平日討論的主題有 Linux, Debian, Ubuntu, Vim, Emacs, Git, Python, shell script, Drupal, OpenStreetMap, Security ... 等。",
        "facebook": "https://www.facebook.com/groups/kalug.tw/",
        "website": "http://kalug.linux.org.tw"
    },
    {
        "name": "高雄前端社群",
        "image": "kf2e.jpg",
        "info": "高雄前端社群於 2013 年 3 月 31 日創立， 每月固定舉辦前端主題聚會，歡迎網頁設計師一塊前來交流。",
        "facebook": "https://www.facebook.com/groups/358503154261390",
        "website": "http://gonsakon-7655f2.kktix.cc/"
    },
    {
        "name": "Mobile Girls",
        "image": "mobile_girls.jpg",
        "info": "Mobile Girls 是由一群熱愛 iOS 與 Android 朋友所成立的社群，宗旨是希望能夠推廣 iOS/Android 程式語言給女性初學者，讓想了解 iOS 和 Android 的女性能有一個機會學習。我們歡迎沒有電腦程式設計基礎的女性朋友來參加，如果您對於 iOS/Android 的任何新奇有趣的 App 設計、原理及應用感到興趣，您將可以在這個環境找到同好，並藉由業界專業教練的指導，在小組內共同合作打造它，實現您在 App 世界的專屬夢想！",
        "facebook": "https://www.facebook.com/mobilegirlsfans",
        "website": "http://mobile-girls.kktix.cc"
    },
    {
        "name": "GDG Kaohsiung",
        "image": "gdg.jpg",
        "info": "Google Developer Group Kaohsiung (原Android高雄開發者社群) 從事 Android App、Embedded 及 Design 一起交流的園地，2014 首次聚會活動，目前活動活動時間為每月第三週的禮拜四 meet-up，歡迎對 Android 有興趣的朋友可以參與聚會。",
        "facebook": "https://www.facebook.com/groups/1416205511963346/",
        "website": "http://akdg.kktix.cc/"
    },
    {
        "name": "DESIGN plus",
        "image": "designPlus.jpg",
        "info": "設計+，讓高雄設計能量聚集與交流<br>DESIGN plus in Kaohsiung<br><br>我們相信這個社會需要設計師美化工作，也惋惜南部沒有一個設計類社群能讓大家彼此交流。因此Colour Design成立這個社群，期盼能夠給予設計師友誼與資訊，讓設計師們都能在這裡彼此討論，互相成長。<br><br>我們期許「設計+」能匯集南部的設計資源，透過交流與討論來增進設計的能量，進而用設計師們的美感一點一滴活潤社會美感。",
        "facebook": "https://www.facebook.com/groups/designplus.kh",
        "website": ""
    },
    {
        "name": "創業台槓",
        "image": "startupTalk.jpg",
        "info": "創業台槓 希望經由每個月的分享活動，建立一個跨領域的創業交流平台，藉由分享和對談，讓企業家、創業團隊、設計師、工程師、夢想家、學生能夠激盪出火花。每月都會邀請新創團隊、或各領域專家分享經驗，無論您是創業中、想創業、或是創業有成，都歡迎您來參加認識新夥伴、挑戰創業新構想。",
        "facebook": "https://www.facebook.com/STalkTW",
        "website": ""
    },
    {
        "name": "App 台槓",
        "image": "appTalks.jpg",
        "info": "App 台槓 - App Talks 成立於 2013 年 12 月，宗旨爲提供南部 App 創業家們一個互相交流與共同成長的聚會。主軸聚焦於 App 產品企劃、使用者體驗，以及商業模式之探討。期待能為南部孕育出國際級的 App 創業團隊。",
        "facebook": "https://www.facebook.com/groups/603200143049273",
        "website": ""
    }

],
"sponsors": [
    {
    "TonyStark":[
        {
        "name": "和沛移動",
        "image": "hopebay_tech.png",
        "link": "http://tera.mobi/"
        }
    ],
    "BruceWayne":[
        {
            "name": "捕夢網",
            "image": "pumo.png",
            "link": "http://www.pumo.com.tw/"
        },
        {
            "name": "AWS",
            "image": "aws.png",
            "link": "https://aws.amazon.com/tw/"
        },
        {
            "name": "KKBOX",
            "image": "kkbox.png",
            "link": "https://www.kkbox.com/tw/tc/index.html"
        },
        {
            "name": "Yahoo",
            "image": "yahoo.png",
            "link": "https://tw.yahoo.com/"
        }
    ],
    "Hacker":[
        {
            "name": "慶奇科技",
            "image": "webduino.png",
            "link": "https://webduino.io/"
        },
        {
            "name": "Microsoft",
            "image": "Microsoft.jpg",
            "link": "https://www.microsoft.com/zh-tw/"
        }
    ],
    "Developer":[
        {
            "name": "點子科技",
            "image": "unnamed.png",
            "link": "https://webduino.io/"
        },
        {
            "name": "高誠資訊",
            "image": "coimotion.png",
            "link": "http://tw.coimotion.com/"
        },
        {
            "name": "誠義資訊",
            "image": "Checkin.png",
            "link": "http://checkinplus.net/"
        },
        {
            "name": "銘圃資訊",
            "image": "ming_pu.png",
            "link": "http://www.sekonicmp.co/"
        },
        {
            "name": "乃師實業",
            "image": "niceStudio.jpg",
            "link": "https://17bake.cc/"
        },
        {
            "name": "驣星軟體",
            "image": "attenzionestar.png",
            "link": "http://www.attenzionestar.com.tw/"
        },
        {
            "name": "塩旅社",
            "image": "hotel_yam.png",
            "link": "http://hotelyam.cc/"
        },
        {
            "name": "Hiiir",
            "image": "Hiiir.png",
            "link": "http://www.hiiir.com/"
        }
    ],
    "SpecialThank":[
        {
            "name": "KKTIX",
            "image": "KKTIX.png",
            "link": "https://kktix.com/"
        },
        {
            "name": "攝護線",
            "image": "SFD.png",
            "link": "#"
        },
        {
            "name": "樹德科技大學",
            "image": "SHU-TE.png",
            "link": "http://www.stu.edu.tw/"
        }
    ]
}

]

;;;
<% content_for :link do %>
    <a class="btn cfp-link" target="_blank" href="http://mopcon.kktix.cc/events/mopcon2016-cfp">KKTIX議程徵稿</a><a class="btn cfp-link" href="cfp.html">講者募集</a>
<% end %>

<header class="header text-center relative">
	<div class="planet-logo"></div>
	<div class="header-block">
		<div class="header-logo">
            <img
                src="images/article/home-landing-logo.png"
                srcset="images/article/home-landing-logo@2x.png 2x, 
                        images/article/home-landing-logo@3x.png 3x"
                alt="mopcon2016"
                class="img-responsive center-block common-idx">
		</div>
        <!-- <div class="header-event">
            <a class="btn cfp-link cfp-l" href="cfp.html">講者募集</a>
        </div> -->
	</div>
</header>

<div class="relative clearfix">
    <div class="about">
        <h3 class="topic-title text-white text-center">
            ABOUT
        </h3>
        <div class="about-info">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-head comma">
                        精神
                    </h3>
                    <p>行動科技的進步，開拓一條連結創意和生產力的路徑，帶領我們進入一個充滿無限可能的新境界。<br/>
                    
                     自智慧型手機與穿戴式裝置普及以來，各類如社交、地理資訊、拍照、攝影、共享經濟、行動支付等「軟應用」，紀錄著使用者的生活足跡，眾多世界級科技公司透過手環、手錶、居家感應、醫療收集等「硬載體」，試圖無接縫地收集使用者每分每秒的動態。<br/>
                    
                     在這個資料為王的時代，「軟應用」與「硬載體」正在把每個人納入數據洪流之中，行動科技將是獲取使用者資料的最後一哩，也正是 MOPCON（Mobile / Open / Platform CONference） 專精探討的主軸！<br/>
                    
                    MOPCON「行動科技年會」，今年度將以 "Connent Everthing"。作為主要精神意涵。</p>
                    <h3 class="card-head comma">
                        議程
                    </h3>
                    <p>本屆議程重心除行動開發技術、服務營運、數位內容三大主軸之外，將更廣泛涵蓋雲端運算、穿戴應用、VR 虛擬實境、AR 擴增實境、物聯網應用與基於 HTML5 的可攜式跨裝置應用等相關議題，以真實運作的案例，向與會者做第一手的探討與分享，促進更多優秀開發者項目的成熟與發展。</p>
                </div>
            </div>
        </div>
        <div class="about-body">
            <div class="col-xs-12 bg-gray relative bg-slash" style="background-image: url(https://c5.staticflickr.com/6/5748/22759546156_a2f19cfda7_k.jpg);">
                
            </div>
            <div class="clearfix"></div>

            <div>
                <div class="col-xs-6 bg-gray relative bg-slash" style="background-image: url(https://c3.staticflickr.com/1/654/22616722290_2e049185b6_k.jpg)"></div>
                <div class="col-xs-6 bg-gray relative bg-slash" style="background-image: url(https://c3.staticflickr.com/6/5718/22386646898_2fc0660ce5_z.jpg)"></div>
            </div>
        </div>
    </div>
</div>
<div class="map">
    <div id="map-canvas" class="miner-mg" style="height: 500px">
        <div class="map-mask"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2462.8025410193113!2d120.28651248328634!3d22.62751181171553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e047a68b26b53%3A0xf2ba850fa2de22e9!2z6auY6ZuE5ZyL6Zqb5pyD6K2w5Lit5b-DIElDQ0s!5e0!3m2!1szh-TW!2stw!4v1477851478229" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="map-info col-md-4">
        <div class="card">
            <div class="card-body">
                <p>高雄市鹽埕區中正四路274號-高雄國際會議中心(ICCK)3樓   ---<a style="color:#1c1751;" href="https://goo.gl/maps/EcfJDDMgKBD2" target="_blank">Google地圖</a></p>
                <h3 class="card-head comma">
                    高鐵/火車/捷運
                </h3>
                <p>
                    左營高鐵站 / 高雄火車站搭捷運紅線至捷運美麗島站，換乘橘線往西子灣方向捷運鹽埕埔站下車，二號出口右轉步行約 250 公尺可至會場
                </p>
            </div>
            <div class="card-body">
                <h3 class="card-head comma">
                    公車
                </h3>
                <p>搭乘歷史博物館 0 南 (單邊停靠)、0 北 (單邊停靠)、11、25、33、56、60、76、77、82、建國幹線、91、214、219、248</p>
            </div>
        </div>
    </div>
</div>
<%= partial "/partials/speaker_index" %>
<%= partial "/partials/sponsor_index" %>
<%= partial "/partials/community_index" %>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWLJ01IXDDFp4w3JH4iMQdAlxTaLTERow">
</script>
<script type="text/javascript">
// function initialize() {
//   var myLatlng = new google.maps.LatLng(22.626417,120.285722);
//   var mapOptions = {
//     zoom: 16,
//     center: myLatlng,
//     draggable: false, 
//     scrollwheel: false
//   }
//   var contentString = '<div id="content"><h3>高雄國際會議中心(ICCK)</h3><p id="address">高雄市鹽埕區中正四路274號3樓</p></div>'
//   var infowindow = new google.maps.InfoWindow({
//     content: contentString
//   });
//   var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

//   var marker = new google.maps.Marker({
//       position: myLatlng,
//       map: map,
//       title: 'ICCK 高雄國際會議中心'
//   });
//   infowindow.open(map, marker);
// }

// google.maps.event.addDomListener(window, 'load', initialize);
</script>

