;;;
"title": "Welcome to MOPCON",
"day1_schedule": [
  {
    "time": "08: 30",
    "name": "報到"
  },
  {
    "time": "09: 00",
    "name": "開幕"
  },
  {
    "time": "10: 00",
    "name": "Elvis Lin",
    "topic": "用 Firebase 建立跨平台的聊天軟體"
  },
  {
    "time": "10: 30",
    "name": "Elvis Lin",
    "topic": "Android 開發流程自動化無痛入門"
  },
  {
    "time": "11: 00",
    "name": "Marty",
    "topic": "Webduino Workshop - 對不起，哥實作一個物聯網 App 真的只要 30分鐘<br/>（體驗即送 Smart 開發版）"
  },
  {
    "time": "11: 30",
    "name": "Daniel Yeh",
    "topic": "一致性的網頁 App 開發架構"
  },
  {
    "time": "12: 00",
    "name": "午餐"
  },
  {
    "time": "13: 00",
    "name": "Sponsor Talk",
    "topic": "主廳（R1）/ 全廳聯播"
  },
  {
    "time": "13: 45",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "14: 15",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "14: 45",
    "name": "下午茶"
  },
  {
    "time": "15: 15",
    "name": "Marty",
    "topic": "Webduino Workshop - 對不起，哥實作一個物聯網 App 真的只要 30分鐘<br/>（體驗即送 Smart 開發版）"
  },
  {
    "time": "15: 45",
    "name": "黃婉貞",
    "topic": "公部門 x 傳產 x 新創，YouBike 堅持的庶民好體驗"
  },
  {
    "time": "16: 15",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "16: 45",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "18: 00",
    "name": "結束第一天交流場次"
  },
  {
    "time": "18: 30",
    "name": "講者晚宴"
  }
],



"day2_schedule": [
  {
    "time": "08: 30",
    "name": "報到"
  },
  {
    "time": "09: 00",
    "name": "Announcement"
  },
  {
    "time": "10: 00",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "10: 30",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "11: 00",
    "name": "Marty",
    "topic": "Webduino Workshop - 對不起，哥實作一個物聯網 App 真的只要 30分鐘<br/>（體驗即送 Smart 開發版）"
  },
  {
    "time": "11: 30",
    "name": "James",
    "topic": "Power Bl and Power Bl embedded"
  },
  {
    "time": "12: 00",
    "name": "午餐"
  },
  {
    "time": "13: 15",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "13: 45",
    "name": "黃思齊",
    "topic": "如何用 Xamarin 開發跨平台行動應用"
  },
  {
    "time": "14: 15",
    "name": "黃思齊",
    "topic": "如何用 Xamarin 開發跨平台行動應用"
  },
  {
    "time": "14: 45",
    "name": "下午茶"
  },
  {
    "time": "15: 15",
    "name": "Marty",
    "topic": "Webduino Workshop - 對不起，哥實作一個物聯網 App 真的只要 30分鐘<br/>（體驗即送 Smart 開發版）"
  },
  {
    "time": "15: 45",
    "name": "歡迎當天會眾報名",
    "topic": "MOPCON 2016 Unconference"
  },
  {
    "time": "17: 00",
    "name": "閉幕"
  }
]
;;;

<header class="header text-center relative">
  <div class="planet-logo"></div>
  <div class="header-block">
    <div class="header-logo">
      <img 
        src="images/article/mopcon-logo.png"
        srcset="images/article/mopcon-logo@2x.png 2x,
                images/article/mopcon-logo@3x.png 3x"
        alt="mopcon"
        class="img-responsive center-block common-idx mbxl">
      <img
        src="images/schedule/s-c-h-e-d-u-l-e_unconf.png"
        srcset="images/schedule/s-c-h-e-d-u-l-e_unconf@2x.png 2x, 
                images/schedule/s-c-h-e-d-u-l-e_unconf@3x.png 3x"
        alt="Unconference schedule"
        class="img-responsive center-block common-idx">
    </div>
    <%#
    <a class="btn cfp-link cfp-l" href="cfp.html">ALL HACKPADS</a>
    %>
  </div>
</header>
<div class="container-md">
  <ul class="relative schedule-nav">
    <li class="schedule-day active" id="day_one_title">
      <h3>DAY 1</h3>
      <h4>10/29 (六)</h4>
    </li>
    <li class="schedule-day" id="day_two_title">
      <h3>DAY 2</h3>
      <h4>10/30 (日)</h4>
    </li>
  </ul>
</div>
<div class="container-md">
  <div class="card">
    <div class="multi-planet">
      <ul class="schedule-block" id="day_one_schedule">
        <% current_page.data.day1_schedule.each do |item| %>
        <li class="schedule-li">
          <div class="schedule-event">
            <div class="time"><%= item.time %></div>
            <div class="info">
              <h3><%= item.name %></h3>

              <ul class="schedule-sub-info">
                <li><%= item.topic %></li>
              </ul>
            </div>
          </div>
        </li>
        <% end %>
      </ul>


      <ul class="schedule-block" id="day_two_schedule" style="display: none;">
        <% current_page.data.day2_schedule.each do |item| %>
        <li class="schedule-li">
          <div class="schedule-event">
            <div class="time"><%= item.time %></div>
            <div class="info">
              <h3><%= item.name %></h3>

              <ul class="schedule-sub-info">
                <li><%= item.topic %></li>
              </ul>
            </div>
          </div>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>




