;;;
"title": "Welcome to MOPCON",
"day1_schedule": [
  {
    "time": "08: 30",
    "name": "報到"
  },
  {
    "time": "09: 00",
    "name": "開幕"
  },
  {
    "name": "翟本喬（Ben Jai）",
    "info": "紐約大學電腦科學博士，曾任職貝爾實驗室與 Google，之後創立台達電子雲端技術中心，2013 年帶領資訊菁英成立和沛科技，提供企業完整的雲端解決方案，2016 年成立和沛移動，開創使用者完美的雲端服務行動體驗。",
    "topic": "行動裝置科技趨勢",
    "summary": "Gartner 等各大市場分析公司每年都會推出許多新科技趨勢的預測。其中很多其實不怎麼新，很多其實不怎麼有前途，很多其實有前途但你追不上。我們要怎麼觀察並找出自己的路呢？",
    "image": "ben_jai.jpg",
    "room": "主廳（R1）/ 全廳聯播",
    "time": "09: 15",
    "facebook": "http://fb.me/ben.jai",
    "linkin": "https://tw.linkedin.com/in/ben-jai-41b94b9",
    "slideshow":  "https://drive.google.com/file/d/0B5xeDBinWcUXSjJQb09lQUR0bnlpWG9tSHhTUExFTV9aNGVj/view"
  },
  {
    "time": "10: 00",
    "name": "休息"
  },
  {
    "name": "古宗禎（Denny Ku）",
    "info": "喜歡前端、Serverless，最近也迷上了自然語言處理。 I'm a false positive front-end engineer.",
    "topic": "天眼通通 Serverless",
    "summary": "1. 求職天眼通的開發歷程<br/>2. Serverless 技術的運用與問題<br/>3. GUI 開發技術的選擇：React + Redux + (Redux Saga)",
    "image": "denny_ku.jpeg",
    "room": "主廳（R1）",
    "time": "10: 15",
    "github": "https://github.com/abalone0204",
    "blog": "http://abalone0204.github.io/",
    "linkin": "https://tw.linkedin.com/in/denny-ku-a9a21396/zh-tw",
    "slideshow":  "https://speakerdeck.com/abalone0204/mopcon-2016-cong-side-project-dao-product"
  },
  {
    "name": "羅志達（Kelvin Lo）",
    "info": "作為一個 Unity 原廠講師，Kelvin 致力於將 Unity 開發技術有效的傳達給開發者。待過遊戲研發 13 年，同時也是個資深玩家的他，認為台灣開發者最大問題並非技術，更多是需要出來交流。他很樂意協助台灣開發者，在遇到問題除了 Google 之外，能有更多管道解決。",
    "topic": "Unity 次世代運算與 VR 開發",
    "summary": "VR 正在如火如荼的發展，但對於消費者而言 VR 的應用必須是直逼真實環境的 VR 才能接受，本次的內容主要說明 Unity 在即時運算技術上如何規避效能障礙達到 AAA 等級的即時運算方向與門檻，並帶來一些案例分享。",
    "image": "kelvin_lo.jpg",
    "room": "二廳（R2）",
    "time": "10: 15",
    "facebook": "http://fb.me/dada.artist",
    "slideshow":  "https://drive.google.com/file/d/0B5xeDBinWcUXQWVjWWY1Y0lrdU1qMmx5M2FleTgyYXdpWWJB/view"
  },
  {
    "name": "Nevin Chen",
    "info": "爸爸, 碼農 熱愛 Mobile 開發",
    "topic": "Kotlin on Android development",
    "summary": "Kotlin solves some issues in Java 6/7 on Android. Although java 8 is now partially supported, Kotlin still provides a lot of value when developing Android applications. In this talk I'll share my personal experience wirting my production app in kotlin<br/>1. Kotlin overview <br/>2. Kotlin on Android<br/>3. Personal Experience",
    "image": "nevin_chen.jpg",
    "room": "三廳（R3）",
    "time": "10: 15",
    "slideshow":  "https://speakerdeck.com/cnevinc/mopcon-2016"
  },
  {
    "time": "11: 00",
    "name": "休息"
  },
  {
    "name": "趙永弘",
    "info": "擔任捕夢網數位科技 CTO 技術長。熟悉雲端運算技術 & 雲端未來發展，破除企業對於雲端不實的幻夢，以穩健踏實的方式，輔導眾多企業從傳統 IT 躍升雲端未來。在企業 IT 轉變與成長的過程，扮演了在背後提供了許多技術及硬體奧援的角色。",
    "topic": "佈局雲端，提升企業「速度」、「彈性」、「標準化」",
    "summary": "應用雲端服務，可協助企業升級。從程式開發、數據管理、IT 整合、行動應用，乃至於客戶端，雲端能夠提升商務速度，提高彈性，打造標準化平台。掌握三大方向，開創未來雲端商機。1、快速彈性：為了擴展商業價值佈局雲端，選擇平台時，應注重彈性、快速擴充性與相容性，以最低成本創新最大效益。2、便捷易用：簡易管理、快速部署，創造零時差協作環境，使資料能有效的應用，提升作業效率及員工產能。3、創造未來：將 IT 資源投注於雲端資源使用及數據分析，挖掘未來創新商業模式的可能性。",
    "image": "pumo.jpg",
    "room": "主廳（R1）",
    "time": "11: 15",
    "slideshow": "https://drive.google.com/file/d/0B5xeDBinWcUXTjFQVmo3cG9lMjAwVVEyS1Nta0ZMV1BXNzNz/view"
  },
  {
    "name": "謝京蓓（Cori Shieh）",
    "info": "Cori 是台灣 VR/AR 產業前瞻推手，產業人稱「VR 教母」。2016 年 Cori 推動「TAVAR 台灣虛擬及擴增實境產業協會」成立，目前擔任協會秘書長，致力推動產業生態圈發展。Cori 也創辦喜杰思互動科技公司，專注連結台灣與中國、矽谷行業資源，協助台灣業者走向國際。",
    "topic": "VR / AR 全球趨勢與商機剖析",
    "summary": "2016 年被產業、媒體稱為 VR 元年，各類 VR / AR 硬體、內容及應用如春筍般蓬勃冒出。在歐美、中國等主流市場，大量的 VR / AR 科技於各產業 / 領域中產生加值與轉型的作用。本次演講將帶領大家從 VR / AR 全球市場以及各領域間應用案例之角度了解目前的應用趨勢，同時也會探討台灣 VR / AR 業者發展的現況以及面對的挑戰、未來發展利基。",
    "image": "cori_shieh.jpg",
    "room": "二廳（R2）",
    "time": "11: 15",
    "facebook": "https://www.facebook.com/cori.shieh?fref=ts",
    "slideshow": "https://www.arm.com/files/pdf/20160701_A01_ATF_Taiwan_CJS_Interactive.pdf"
  },
  {
    "name": "吳仁弘（Rick Wu）",
    "info": "三竹資訊出包工程師 <br/>透過不斷的出包來攝取經驗值<br/>對於買書有莫名的熱愛<br/>專長是與別人交流書單<br/>在網路上撰寫部落格，來達到誤人子弟的效果（？）",
    "topic": "來玩 Android 執行緒",
    "summary": "Android App 的開發是以 Java 語言為基礎的。 要讓 App 流暢就得依賴多執行緒的實作，而當 Java 的多執行緒概念揉合進 Android 的生命週期時，會有額外需注意的事項與限制。 初學者一開始很容易被一大堆工具以及術語嚇到，但若能先對這些工具及專有名詞有個初步的認識，便能夠在理解程式碼的情況下撰寫程序，進而寫出有良好使用者體驗的 App。",
    "image": "rick_wu.jpg",
    "room": "三廳（R3）",
    "time": "11: 15",
    "facebook": "https://www.facebook.com/rick.wu.12?fref=ts",
    "slideshow": "http://slides.com/givemepass/deck#/"
  },
  {
    "time": "12: 00",
    "name": "午餐"
  },
  {
    "time": "13: 00",
    "name": "Sponsor Talk"
  },
  {
    "time": "13: 45",
    "name": "休息"
  },
  {
    "name": "蔡一郎（Yi-Lang Tsai）",
    "info": "目前為台灣安全聯盟理事長，並服務於國家高速網路與計算中心，亦為 The Honeynet<br/>Project 台灣分會負責人、TWCSIRT 團隊負責人，熟悉資訊安全領域技術，涵蓋系統安全、網路安全、管理制度、資訊探勘與數位鑑識等領域，目前已有 34 本電腦資訊圖書著作。",
    "topic": "在雲霧漂渺之間談物聯網安全",
    "summary": "物聯網與行動應用已成為未來發展的主要趨勢，結合雲端服務更形成了一個龐大的資訊網路，傳統資訊架構面對新型態行動應用服務時，都面臨了不得不進行的改變，行動裝置配合 App 成了第一波物聯網世代的應用場域，隨著裝置的多樣化與即時資訊處理的需求，即將來臨的霧運算（Fog Computing）時代，加速了行動應用但也帶來新的資安問題，如何兼顧物聯網的安全成為未來重要的關注議題。",
    "image": "tsai_yi_lang.jpg",
    "room": "主廳（R1）",
    "time": "14: 00",
    "blog": "http://blog.yilang.org/",
    "slideshow": ""
  },
  {
    "name": "宋志峰（Anistar）",
    "info": "目前現職服務於雅虎奇摩，負責帶領超級商城與拍賣 APP 開發，<br/>專注在專案軟體架構規劃與開發，熱愛分享自己的經驗。<br/>具備 10 年以上的專案開發經驗，<br/>7 年的專業講師資歷，<br/>開發的 Magic Shutter 曾獲得 NewYork Times 推薦最佳前十大攝影軟體推薦。",
    "topic": "Yahoo 開源開發套件 AppDevKit - 開發秘辛與功能分享",
    "summary": "AppDevKit 是專注輔助 iOS App 的開發者套件，提供超過 100 以上功能；五大模組中包含基本核心，使用者介面，動畫，影像與列表強化，開發者可獨立使用部份功能，採用 BSD 授權，支援商業使用。<br/>過去 3 年，台灣雅虎團隊已經使用 AppDevKit 開發許多產品，也利用該套件協助加強軟體功能與穩定性，並解決了 iOS 平台版本與設備的相容性問題，讓開發者能透過 AppDevKit 輕易完成複雜的任務，保持軟體開發的一致性與維護的方便性。<br/>這場 Session 將分享開發開源套件的技巧與如何使用 AppDevKit 來快速完成 iOS App 開發。",
    "image": "anistar.jpg",
    "room": "二廳（R2）",
    "time": "14: 00",
    "facebook": "http://fb.me/anistarsung",
    "slideshow": "http://www.slideshare.net/anistarsung/yahoo-open-source-the-tour-mystery-of-appdevkit-mopcon-2016"
  },
  {
    "name": "吳承翰",
    "info": "我喜歡好的產品，也開發好的產品；我寫的不是程式，是理想。",
    "topic": "HackMD - Markdown 協作筆記",
    "summary": "HackMD 是一個使用 Markdown 語法的即時協作筆記服務，於 2015 年 3 月上線。這次與各位分享開發與維護這個開源服務的歷程，同時也包含營運的想法與簡單的技術討論。",
    "image": "max_wu.jpg",
    "room": "三廳（R3）",
    "time": "14: 00",
    "facebook": "http://fb.me/TakeHackMD",
    "github": "https://github.com/hackmdio/hackmd/",
    "website": "https://hackmd.io/",
    "slideshow": "https://hackmd.io/p/Bk9X2eJT#/"
  },
  {
    "time": "14: 45",
    "name": "下午茶"
  },
  {
    "name": "魏銘信（Ivan Wei）",
    "info": "在移動互聯網與消費性電子產業，從事用戶體驗設計多年，具有軟體與硬體產品開發的豐富經驗；也曾得過 iF 與 Red Dot 等設計大獎，目前在獵豹移動負責用戶量破億的 Android App「CM Security」介面設計。",
    "topic": "用戶體驗設計的 0 到 1，與 1 到 1 億",
    "summary": "當產品可以免費取得，隨時也能輕易地從手機移除，必須靠著絕佳的用戶體驗留住用戶！獵豹移動因為重視用戶體驗，並且把精實創業的核心精神－\"試錯\"，徹底執行在每一次產品迭代過程，在資訊傳遞扁平的移動互聯網時代，從 0 到 1 打造了多個用戶量破億工具產品。這次講者將分享，是什麼樣的組織管理、產品開發與設計流程，讓 CM Security 可以一年快速迭代超過 150 個版本，達到兼顧產品留存與功能擴展並增長流量，最後商業化將流量變現的成果。",
    "image": "ivanwei.jpg",
    "room": "主廳（R1）",
    "time": "15: 15",
    "onVideoRecord": true,
    "facebook": "http://fb.me/ivangraphic",
    "blog": "https://medium.com/@ivangraphic",
    "linkin": "https://tw.linkedin.com/in/ivangraphic",
    "slideshow":  "http://www.slideshare.net/IvanWei2/0111-58976621"
  },
  {
    "name": "張書源（John Chang）",
    "info": "John Chang 目前擔任 AWS Technology Evangelist，對於雲端服務架構以及商務應用發展具有多年實務經驗，曾經擔任架構師、全球雲端合作戰略官、企業應用顧問以及講師。專注在雲端服務 以及與企業應用程式整合的相關技術，以及與技術社群的合作。",
    "topic": "使用 AWS Mobile Hub 在雲端打造你的行動 App",
    "summary": "AWS Mobile Hub 讓你可以快速設定你的行動裝置 App 所需要的功能，像是驗證，執行後端的運算，推播通知，資料儲存，內容發布和使用分析等等，並且建立範本。本場次將為各位介紹與展示如何使用 AWS Mobile Hub 建立行動裝置 App，並且可以在實機上測試。",
    "image": "john_chang.jpg",
    "room": "二廳（R2）",
    "time": "15: 15",
    "onVideoRecord": true,
    "slideshow": "http://www.slideshare.net/AmazonWebServices/getting-started-with-aws-device-farm"
  },
  {
    "name": "簡信昌（H.C. Chien）",
    "info": "OSDC.tw 2006-2014，開放原始碼愛好者。現正進行媒體 open source 實驗。",
    "topic": "bunkobon – 開放原始碼在新聞媒體的行動應用",
    "summary": "一年前，我開始在新聞媒體產業進行一系列的開放原始碼實驗，在今年七月，開始發想了 bunkobon 的專案，利用 open api 取得文章內容，讓使用者可以自由開發前端程式，並以 react native 開發測試的 app。這個計畫還在進行中，透過更詳細的解釋，也希望有更多人可以參與。",
    "image": "h_c_chien.jpg",
    "room": "三廳（R3）",
    "time": "15: 15",
    "slideshow": "https://drive.google.com/open?id=0B_zbnz8b9XIkNVNwVHJoWnFnRWFuTzc5elp2cEw1LV9zUmlv"
  },
  {
    "time": "16: 00",
    "name": "休息"
  },
  {
    "name": "Akane Lee",
    "info": "嫁給 RD 的 UI Designer。",
    "topic": "老闆說：「我也是使用者！」",
    "summary": "大家都知道使用者經驗、使用者研究、以使用者為中心...等等。專案初期依使用者需求規劃，和上級報告時卻總是被導去完全不同的方向。<br/>只要「我也是使用者啊，所以!@#$%^&...」這句一出現，整個專案方向就被扭轉，失去原本的意義。之後的開發流程只能用通靈術來頭痛醫頭、腳痛醫腳。<br/>使用者經驗、使用者研究、以使用者為中心不該只是口號，做足功課就能找到真正的使用者，站穩立場。",
    "image": "akane_lee.jpg",
    "room": "主廳（R1）",
    "time": "16: 15",
    "onVideoRecord": true,
    "facebook": "http://fb.me/uiux.akane",
    "blog": "http://akanelee.me",
    "slideshow": ""
  },
  {
    "name": "張書源（John Chang）",
    "info": "John Chang 目前擔任 AWS Technology Evangelist，對於雲端服務架構以及商務應用發展具有多年實務經驗，曾經擔任架構師、全球雲端合作戰略官、企業應用顧問以及講師。專注在雲端服務 以及與企業應用程式整合的相關技術，以及與技術社群的合作。",
    "topic": "使用 AWS Device Farm 在雲端測試你的行動 App – 實作工作坊",
    "summary": "了解了AWS Mobile Hub 之後，這一個實作工作坊將介紹如何透過AWS Device Farm，測試你的行動 App 在多種不同行動裝置實機上的執行結果！",
    "image": "john_chang.jpg",
    "room": "三廳（R3）",
    "time": "16: 15",
    "onVideoRecord": true,
    "slideshow": "http://www.slideshare.net/AmazonWebServices/getting-started-with-aws-device-farm"
  },
  {
    "name": "李卿澄（qcl）",
    "info": "玉樹臨風，風度翩翩又喜歡吃喝的 Yahoo Mobile App Engineer。參與過多個 Yahoo Mobile App 的開發。日常除了寫 App 外，對自然語言處理、前端、瀏覽器插件等技術亦稍有涉略。最近正在研究如果吃了無敵星星之後該如何不照正常的路數玩遊戲。",
    "topic": "行者 – iOS BDD 自動測試框架",
    "summary": "行者（XingZhe）是一個用於 iOS 的 BDD 自動測試框架。使用行者時只需要撰寫自然語言來描述測試的行為，無須撰寫測試程式便可以自動測試——亦即當行為被描述完時，測試程式也已經完成了。透過這樣的工具可以更輕鬆地完成測試，亦可從容地面對快速迭代不斷更新的開發需求。這裡將介紹行者的架構、原理、基本使用原則及實例操作。",
    "image": "qcl.jpg",
    "room": "二廳（R2）",
    "time": "16: 15",
    "facebook": "http://fb.me/qingchengli.tw",
    "github": "https://github.com/qcl",
    "slideshow": "https://speakerdeck.com/qcl/xingzhe-ios-bdd-ui-automation-test-framework"
  },
  {
    "time": "17: 00",
    "name": "休息"
  },
  {
    "name": "王銓彰",
    "info": "王銓彰於虛擬實境與擴增實境領域研發超過 10 年以上，同時也是動畫及遊戲開發業界的風雲人物。他曾研發多套遊戲引擎，是動新聞快速動畫製作技術的發明者，深耕之路上更有和產官學各界合作的豐富經驗。",
    "topic": "VR 技術的挑戰與未來",
    "summary": "講者將從最早 VR 技術的發展開始，帶領大家了解 VR 技術的演進，探討目前 VR 技術所面臨的挑戰與問題，並分析 VR 未來技術發展的機會。聽眾可以從技術的角度理解 VR 遊戲在設計上容易陷入的盲點與問題，進而面對問題並解決問題，設計出一款能發揮 VR 技術的遊戲。",
    "image": "wang_cyuan_jhang.jpeg",
    "room": "主廳（R1）/ 全廳聯播",
    "time": "17: 15",
    "facebook": "http://fb.me/chuanchang.wang",
    "slideshow": "https://drive.google.com/file/d/0B5xeDBinWcUXN1FRTGI3cVB2eE5oVWR5ZFZVamhqMXNwN1E4/view"
  },
  {
    "time": "18: 00",
    "name": "結束第一天議程"
  },
  {
    "time": "18: 30",
    "name": "講者晚宴"
  }
],



"day2_schedule": [
  {
    "time": "08: 30",
    "name": "報到"
  },
  {
    "time": "09: 00",
    "name": "Announcement"
  },
  {
    "name": "梁文耀",
    "info": "台大資工博士，曾任大學教授、鴻海創新數位系統事業群資深處長等職務，現為和沛移動技術長。專長涵蓋作業系統、計算機架構及分散式系統，是台灣開源軟體與 Linux、Android、Firefox OS 等核心技術先驅者。",
    "topic": "行動終端、物聯網與雲端在高速移動網路下的整合趨勢",
    "summary": "隨著高速移動網路逐漸成熟與普及，行動終端、物聯網與雲端將再進一步整合。透過雲端記憶空間延伸技術，行動終端與物聯網閘道裝置將與雲端儲存無縫融合，開發者不再需要處理雲端接取細節，應用發展與大數據收集及分析將更輕鬆，使用者亦將不再受限於裝置容量，可盡情享受移動裝置、雲端、物聯網共同為生活帶來的便利與優點。",
    "image": "wen_yao_liang.jpg",
    "room": "主廳（R1）/ 全廳聯播",
    "time": "09: 15",
    "slideshow": "https://drive.google.com/open?id=0B9hch44o4bOeNlVZWE9lY1FsUzVEeWozTUd0M0FVMTdZQlhJ"
  },
  {
    "time": "10: 00",
    "name": "休息"
  },
  {
    "name": "吳以尋",
    "info": "遊戲製作人、作曲家以及軟體工程師，任職於臺灣遊戲開發商希娜科藝，目前身兼遊戲製作人與執行長的工作，代表作為《境界之詩》。<br/>畢業於國立東華大學資訊工程研究所，於四年前碩士班研究所畢業的時候，創設遊戲開發公司希娜科藝。",
    "topic": "REST-Like 的弱連網手遊特化型",
    "summary": "REST (REpresentational State Transfer) 的存在時間不算短，現在也是許多開放 API 的設計主流。<br/>有鑒於 REST 的 API 風格也特別適合弱連網的手機遊戲，無論是在開發速度上與橫向擴張上都有適得其所的表現。<br/>將 REST 完整的規範擷取部分的特性，針對手機遊戲的弱連網特性，規劃了一種 \"REST-Like\" 的特化型來滿足遊戲進行資訊、資源取用以及加密等需求。<br/>以實際應用的產品情境作為範例，在這個議程中將展示這種 \"REST-Like\" 的通信方式，替我們解決了什麼樣的問題。",
    "image": "wu_yi_syun.jpg",
    "room": "主廳（R1）",
    "time": "10: 15",
    "onVideoRecord": true,
    "facebook": "http://fb.me/ludwig.i.wu",
    "slideshow": "https://drive.google.com/file/d/0B5xeDBinWcUXVmV4TFE5RGtDNWc/view"
  },
  {
    "name": "林昱宏（Jeff Lin）",
    "info": "目前在 YAHOO 擔任 Mobile App Engineer，曾參與超級商城開發、協助拍賣、購物中心的 iOS App 上線。喜歡用程式玩出更多有趣的 UI 和效果。",
    "topic": "iOS 上 self-sizing cell 的過去、現在、與未來",
    "summary": "不固定長度的內容由於計算高度的誤差，常常為 iOS App 畫面上呈現上造成一些問題。我們將剖析現有的多種 self-sizing 解決方法，並探討 iOS 10 後新方案的可行性。",
    "image": "jeff_lin.jpg",
    "room": "二廳（R2）",
    "time": "10: 15",
    "slideshow": "http://www.slideshare.net/ssuser76f232/ios-selfsizing-cell/1"
  },
  {
    "name": "jessechen",
    "info": "設計師出身，後來主要從事 web 方面工作。進入 KKSTREAM 之後開始開發 yapi.js，但仍無法忘情於做出終端用戶能夠直接使用的東西，於是決定加入新產品 KKTV web client 的開發工作。",
    "topic": "yapi.js, adaptive media player based on HTML5",
    "summary": "現在網路技術發達，但是仍然無法應付高畫質影片的高頻寬需求，因此 adaptive streaming 應運而生。這項應用在 web 上，真正的技術面已經在 HTML5 的層級處理了，因此，這個 Session，並不會有高深的技術說明，和 mobile 的關係也不大，但反而會著重在於制定架構、組件的拆分及管理還有處理事件等等上面。希望 mobile 的開發者藉此也能夠有一些收穫。",
    "image": "jessechen.jpg",
    "room": "三廳（R3）",
    "time": "10: 15",
    "slideshow": "https://drive.google.com/file/d/0B6UsForHSSZFampkMVV3b1JMZm8/view"
  },
  {
    "time": "11: 00",
    "name": "休息"
  },
  {
    "name": "Kuro Hsu",
    "info": "現職前端工程師，五倍紅寶石兼任講師，長期專注網頁前端標準技術。<br/>Vue.js 愛好者，曾多次參與前端社群分享心得，期望透過技術也能在傳統產業掀起不同的新浪潮。",
    "topic": "前端框架大亂鬥 之 我為什麼選擇 Vue.js 2.0",
    "summary": "雖然長久以來流傳著「每 18 至 24 個月，前端都會難一倍」 但事實上，技術沒有強弱之分，只有適合與否。<br/>在本次分享中，我將挑選幾個業界常見的前端框架與 Vue.js 2.0 來做比較，說明為什麼我選擇投入 Vue.js 的世界，並為各位介紹 Vue 2.0 帶來的變革與創新。",
    "image": "kuro_hsu.png",
    "room": "主廳（R1）",
    "time": "11: 15",
    "facebook": "http://fb.me/kurotanshi",
    "blog": "http://kuro.tw/",
    "slideshow": "http://www.slideshare.net/kurotanshi/vuejs-62131923"
  },
  {
    "name": "王景弘（TonyQ）",
    "info": "資深網站系統工程師，致力於用資訊系統再造既有流程。",
    "topic": "政府資訊系統的困境與協力",
    "summary": "討論就政府資訊系統的現況，供有志努力於開放資料、政府資訊流程再造的夥伴，去思考具體的進入方法與具體的障礙難處。內容將以跟北市社會局合作的案例，郵遞公文資訊系統改善方案為藍圖。<br/>https://hackpad.com/23oVOPLj040",
    "image": "tonyq.jpg",
    "room": "二廳（R2）",
    "time": "11: 15",
    "facebook": "http://fb.me/tonylovejava",
    "website": "https://www.facebook.com/groups/javascript.tw/?fref=ts",
    "slideshow": "http://slides.com/tonyq/gov-information-system-challenge/#/"
  },
  {
    "name": "董福興（Bobby Tung）",
    "info": "在台灣推動 EPUB 3 電子書格式與數位出版改革，目前為大塊文化與台灣漫讀（BookWalker Taiwan）的顧問。2013年起參與 W3C 活動，為中文排版需求（CLREQ）的編輯與邀請專家。希望能夠改善中文電子書與 Web 內容的排版表現，保留傳統並提高使用者閱讀體驗。",
    "topic": "幾個中文排版訣竅，有效改善閱讀體驗",
    "summary": "中文排版從桌上排版到網頁，受到西方文字以及日文排版的影響相當深。W3C 之前發布中文排版需求，試著從傳統排版時代找出中文的排版規則，並且試著在技術上完善中文排版，但要大幅改變，還是需要所有內容相關的開發者、設計師一起努力。這場演講希望分享幾個小訣竅，從文字到排版，從規則到技術，希望能夠讓更多人投入改善中文排版的表現，以一些小小的改變，大大地提升使用者體驗。",
    "image": "bobby_tung.jpg",
    "room": "三廳（R3）",
    "time": "11: 15",
    "facebook": "http://fb.me/Bobbytung",
    "slideshow": "https://speakerdeck.com/bobbytung/ji-ge-zhong-wen-pai-ban-jue-qiao-you-xiao-gai-shan-yue-du-ti-yan"
  },
  {
    "time": "12: 00",
    "name": "午餐"
  },
  {
    "name": "陳坤助（KNY）",
    "info": "中華民國 App 跨界交流協會 理事長<br/>台灣防災產業協會 常務理事／地震災害防制委員會 主委<br/>開放資料聯盟 副會長／App應用召集人<br/>交通部／經濟部／環保署 政府資料開放諮詢小組 委員<br/>AppDC 台灣 App 開發者社群 共同發起人",
    "topic": "網路與科技引爆新型態公共服務",
    "summary": "新型態公共服務，將是未來趨勢！<br/>隨著政府資料對外開放、網路與科技演進，過去由政府提供的公共服務，已經引起巨大變革。<br/>在科技和開放的力量驅動下，公共服務不再專屬由「大政府」來提供，「小公民」也能透過自身力量，以民眾和市場真正需求出發，打造未來新型態公共服務。",
    "image": "kny.jpg",
    "room": "主廳（R1）",
    "time": "13: 00",
    "facebook": "http://fb.me/KNYChen",
    "website": "http://kny.cc",
    "slideshow": "http://www.slideshare.net/KNYChen/mopcon2016"
  },
  {
    "name": "貝克菜",
    "info": "國外獨資一間健康食品品牌，台灣擁有兩間合夥品牌公司跟獨資一間系統公司，專長是幫助新創公司優化，成長，行銷跟自動化。",
    "topic": "如何優化公司跟網站流程來降低成本跟效益",
    "summary": "如何從公司、網站、行銷廣告的每個小細節，去發現可優化的細節。用以提高公司整體的營業額、順暢度跟員工效益。",
    "image": "tony_tsai.jpg",
    "room": "二廳（R2）",
    "time": "13: 00",
    "website": "http://tonytsai.com/",
    "slideshow": "https://drive.google.com/file/d/0B5xeDBinWcUXMmtnTXhfbW5zSlQ2LW9CNHJ0MGprbzlLYWk0/view"
  },
  {
    "name": "下野 健二（Kenji Shimono）",
    "info": "I belong to the Tokaido Linux User Group in Japan. I'm hacking the ARM Linux in the user point of view.",
    "topic": "Hacking with Linux on Android Devices",
    "summary": "Hacking with Linux on various ARM Android deivces. On Debian, any Linux distributions, applications, Customized ROM, and more hacking. In this session, I will talk ARM Linux with the user point of view. Let's play Android with customized.",
    "image": "kenji_shimono.jpg",
    "room": "三廳（R3）",
    "time": "13: 00",
    "slideshow": "http://www.slideshare.net/kapper1224"
  },
  {
    "time": "13: 45",
    "name": "休息"
  },
  {
    "name": "鈴木 拓生（Takuo Suzuki）",
    "info": "Takuo Suzuki is Developer Relations Program Manager at Google Inc. He has a keen focus on Material Design. He further engages in UX reviews of apps and further facilitates various design sprints.",
    "topic": "UI/UX best practice for mobile developers",
    "summary": "This session will cover how Google's design framework \"Material Design\" and design tools can help mobile developer and designer to develop mobile apps. By deep diving Material Principals, Design Support Library and other design tools.",
    "image": "takuo_suzuki.jpg",
    "room": "主廳（R1）",
    "time": "14: 00",
    "slideshow": ""
  },
  {
    "name": "劉于遜（Davidd Liu）",
    "info": "劉于遜於 2011 年創立歐酷網路，2013 年推出 CHOCOLABS 致力於優質 App 研發及推廣，累積超過 29 支冠軍作品，達到 800 萬次下載及每月 200 萬活躍使用者；目前公司主打影劇產品並推出自製戲劇，經營影音平台欲成為台灣新媒體力量；也盼將模式複製到東南亞市場達到品牌全球化。",
    "topic": "CHOCOLABS 用戶成長策略及品牌發展之路",
    "summary": "CHOCOLABS 公司創立五年，發行超過 60 支膾炙人手的 App，包含 《CHOCO TV、《iMusee》、《電視連續劇》、《Ubike 讓我騎》等，完整歷經 App 流量​​增長期、轉換獲利期、品牌建立、出海國際化、穩定商業模式、再投入再成長的過程，​這兩年專注於影劇 App 《CHOCO TV》這次在 MOPCON 會完全不保留​，給想要在 App 領域打造一片天的你和妳。",
    "image": "davidd.jpg",
    "room": "二廳（R2）",
    "time": "14: 00",
    "facebook": "http://fb.me/DAVIDD0629",
    "slideshow": "https://docs.google.com/presentation/d/1CgktHoEi3YV7cr2pdjGTJ_5V-3LsEyoV_YWNN0oDl5U/edit?usp=sharing"
  },
  {
    "name": "鄭鈞隆（Chris Jeng）",
    "info": "目前任職於 PayEasy，五年經驗的 Android 開發者，目前熱衷研究各種跨平台技術的無限可能，業餘時間也致力於將技術回饋社會的想法，開發找廁所 App，造福行動不便者找廁所無障礙。",
    "topic": "Mobile 跨平台開發從測試到架構",
    "summary": "解密 Google 如何使用 Java 開發跨平台產品，從軟體自動化測試的角度切入，說明跨平台架構的實現與如何從遺留的程式（Legacy Code）到跨平台架構與測試的遷移流程。",
    "image": "chris_jeng.jpg",
    "room": "三廳（R3）",
    "time": "14: 00",
    "facebook": "http://fb.me/chris.cheng.31",
    "github": "https://github.com/ULei",
    "blog": "https://millenniummeetonce.blogspot.tw/",
    "website": "https://play.google.com/store/apps/details?id=tw.com.bluemoon.findbenso&hl=zh_TW",
    "slideshow": "https://docs.google.com/presentation/d/1rY-JG9O0_5vyK9NuQ6B6QN21JFsqXOpyLxYW7EOJgN0/edit?usp=sharing"
  },
  {
    "time": "14: 45",
    "name": "下午茶"
  },
  {
    "name": "樊立勳（John Fan）",
    "info": "John is cofounder/CEO of PicCollage, a photo app with 100+ million downloads. He attended Princeton University and Stanford University (Ph.D. EE). He previously worked for a wireless startup that was acquired by Qualcomm.",
    "topic": "Catching the Wave: Market, Product and Team",
    "summary": "What's most important for a startup -- market, product or team?  What are the stages of a gold rush, and where are the startup opportunities?  How do we identify market trends, create a product and build a team?  There aren't easy answers to these questions, but I will share some experiences building PicCollage (a mobile photo app with over 100 million downloads) and other apps.",
    "image": "john_fan.png",
    "room": "主廳（R1）",
    "time": "15: 15",
    "slideshow": "http://slides.com/piccollage/mopcon-wave"
  },
  {
    "name": "Gaod",
    "info": "在 KKBOX 專職打雜，負責 backend infrastructure 的設計及維運。",
    "topic": "你所不知道的 CDN 大小事",
    "summary": "眾多的 CDN vendor 中，你要如何決定適合你的 CDN vendor？眾多的 CDN 產品線中，你要如何決定你該採用哪一個產品？當遇上 user 客訴服務不穩時，你該如何判斷問題？相信是許多採用 CDN 服務的團隊們常有的疑問。KKBOX 導入 CDN 數年，一路走來各種經驗，我們將在 MOPCON 與大家分享。",
    "image": "gaod.jpg",
    "room": "二廳（R2）",
    "time": "15: 15",
    "onVideoRecord": true,
    "slideshow": ""
  },
  {
    "name": "周益鑫（James Chou）",
    "info": "大三就半路出家的創業者，充滿著改變世界的熱情，2014 年開創 Colorgy 品牌，希望翻轉校園、創造年輕人的產品。主要負責帶領團隊規劃未來方向跟營運策略，專注在如何讓使用者愛上我們，熱愛聊天、與人分享交流。希望瞭解更多故事來填滿對世界的求知慾！",
    "topic": "應用科技的力量在校園創造更便利的生活！",
    "summary": "在台灣，每十個大學生可能九個大學生一畢業就是在想著找工作，在台灣，每十個高中生就有九個高中生不知道為什麼要讀大學跟要讀什麼科系。我有一顆不安定的心，從小就很有自己想法的我，在大學時，因為不滿生活中可以被解決的不便利卻沒人解決。帶著夥伴一起熬下頭來創造不可能，我們希望透過我們自身渺小但是不服輸的力量，希望在校園裡面透過科技翻轉校園！",
    "image": "james_chou.jpg",
    "room": "三廳（R3）",
    "time": "15: 15",
    "facebook": "http://fb.me/yishin.chou.5",
    "slideshow": "https://drive.google.com/file/d/0B6UsForHSSZFampkMVV3b1JMZm8/view"
  },
  {
    "time": "16: 00",
    "name": "休息"
  },
  {
    "name": "佐藤 一憲（Kazunori Sato）",
    "info": "Kaz Sato is Staff Developer Advocate at Cloud Platform team, Google Inc. He leads the developer advocacy team for Machine Learning and Data Analytics products and gives talks at many major events like Google I/O 2016.",
    "topic": "Machine Intelligence at Google Scale",
    "summary": "Why is Deep Learning so important? What are the challenges for introducing those technologies? Here we will show you how Google has been successfully deploying large scale neural network on services such as Android and Google Search. Also, we will introduce the new Google Cloud products such as Cloud Vision API, Speech API, TensorFlow and Cloud ML that allows developers to take advantage of the power of Google's machine intelligence.",
    "image": "kazunori_sato.png",
    "room": "主廳（R1）/ 全廳聯播",
    "time": "16: 15",
    "slideshow": ""
  },
  {
    "time": "17: 00",
    "name": "閉幕"
  }
]
;;;

<header class="header text-center relative">
  <div class="planet-logo"></div>
  <div class="header-block">
    <div class="header-logo">
      <img 
        src="images/article/mopcon-logo.png"
        srcset="images/article/mopcon-logo@2x.png 2x, images/article/mopcon-logo@3x.png 3x"
        alt="mopcon"
        class="img-responsive center-block common-idx mbxl">
      <img
        src="images/schedule/s-c-h-e-d-u-l-e.png"
        srcset="images/schedule/s-c-h-e-d-u-l-e@2x.png 2x, images/schedule/s-c-h-e-d-u-l-e@3x.png 3x"
        alt="schedule"
        class="img-responsive center-block common-idx">
    </div>
    <%#
    <a class="btn cfp-link cfp-l" href="cfp.html">ALL HACKPADS</a>
    %>
  </div>
</header>
<div class="container-md">
  <ul class="relative schedule-nav">
    <li class="schedule-day active" id="day_one_title">
      <h3>DAY 1</h3>
      <h4>10/29 (六)</h4>
    </li>
    <li class="schedule-day" id="day_two_title">
      <h3>DAY 2</h3>
      <h4>10/30 (日)</h4>
    </li>
  </ul>
</div>
<div class="container-md">
  <div class="card">
    <div class="multi-planet">
      <ul class="schedule-block" id="day_one_schedule">
        <% current_page.data.day1_schedule.each do |item| %>
        <li class="schedule-li">
          <div class="schedule-event">
            <div class="time"><%= item.time %></div>
            <div class="info">
              <h3><%= item.name %></h3>
              
              <% if item.topic && item.topic != "" %>
              <ul class="schedule-sub-info">
                <li class="topic"><%= item.topic %></li>
                <li class="toggle-icon schedule-on"></li>
                <li class="room"><%= item.room %></li>
                <% if item.hackmd && item.hackmd != "" %>
                  <li class="hackmd">HackMD</li>
                <% end %>
                <% if item.onVideoRecord %>
                  <li class="onVideoRecord"></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
          <% if item.topic && item.topic != "" %>
          <div class="schedule-detail">
            <div class="row">
              <div class="col-sm-3">
                <img src="images/speaker/<%= item.image %>" class="img-responsive mbxl">
              </div>
              <div class="col-sm-9 speakerInfo">
                <h4 class="schedule-detail-title">議題介紹</h4>
                <p><%= item.summary %></p>
                <div class="schedule-link">
                  <% if item.slideshow && item.slideshow != "" %>
                  <ul class="socialNetworkLink">
                    <li><a href="<%= item.slideshow %>" target="_blank"><img class="mrs" src="images/schedule/slideshow.png" alt="簡報icon">Slideshow</a></li>
                  </ul>
                  <% end %>
                </div>
                <h4 class="schedule-detail-title">講者介紹</h4>
                <p><%= item.info %></p>
                <ul class="socialNetworkLink">
                  <% if item.facebook && item.facebook != "" %>
                    <li><a href="<%= item.facebook %>" target="_blank">Facebook</a></li>
                  <% end %>
                  <% if item.github && item.github != "" %>
                    <li><a href="<%= item.github %>" target="_blank">Github</a></li>
                  <% end %>
                  <% if item.blog && item.blog != "" %>
                    <li><a href="<%= item.blog %>" target="_blank">Blog</a></li>
                  <% end %>
                  <% if item.website && item.website != "" %>
                    <li><a href="<%= item.website %>" target="_blank">Website</a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>


      <ul class="schedule-block" id="day_two_schedule" style="display: none;">
        <% current_page.data.day2_schedule.each do |item| %>
        <li class="schedule-li">
          <div class="schedule-event">
            <div class="time"><%= item.time %></div>
            <div class="info">
              <h3><%= item.name %></h3>
              
              <% if item.topic && item.topic != "" %>
              <ul class="schedule-sub-info">
                <li class="topic"><%= item.topic %></li>
                <li class="toggle-icon schedule-on"></li>
                <li class="room"><%= item.room %></li>
                <% if item.hackmd && item.hackmd != "" %>
                  <li class="hackmd">HackMD</li>
                <% end %>
                <% if item.onVideoRecord %>
                  <li class="onVideoRecord"></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
          <% if item.topic && item.topic != "" %>
          <div class="schedule-detail">
            <div class="row">
              <div class="col-sm-3">
                <img src="images/speaker/<%= item.image %>" class="img-responsive mbxl">
              </div>
              <div class="col-sm-9 speakerInfo">
                <h4 class="schedule-detail-title">議題介紹</h4>
                <p><%= item.summary %></p>
                <div class="schedule-link">
                  <% if item.slideshow && item.slideshow != "" %>
                  <ul class="socialNetworkLink">
                    <li><a href="<%= item.slideshow %>" target="_blank"><img class="mrs" src="images/schedule/slideshow.png" alt="簡報icon">Slideshow</a></li>
                  </ul>
                  <% end %>
                </div>
                <h4 class="schedule-detail-title">講者介紹</h4>
                <p><%= item.info %></p>
                <ul class="socialNetworkLink">
                  <% if item.facebook && item.facebook != "" %>
                    <li><a href="<%= item.facebook %>" target="_blank">Facebook</a></li>
                  <% end %>
                  <% if item.github && item.github != "" %>
                    <li><a href="<%= item.github %>" target="_blank">Github</a></li>
                  <% end %>
                  <% if item.blog && item.blog != "" %>
                    <li><a href="<%= item.blog %>" target="_blank">Blog</a></li>
                  <% end %>
                  <% if item.website && item.website != "" %>
                    <li><a href="<%= item.website %>" target="_blank">Website</a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>

    </div>
  </div>
</div>




