;;;

"title": "Welcome to MOPCON",
"name": "宋志峰（Anistar）",
"info": "目前現職服務於雅虎奇摩，負責帶領超級商城與拍賣 APP 開發，專注在專案軟體架構規劃與開發，熱愛分享自己的經驗。具備 10 年以上的專案開發經驗，7 年的專業講師資歷，開發的 Magic Shutter 曾獲得 NewYork Times 推薦最佳前十大攝影軟體推薦。",
"image": "anistar.jpg",
"facebook": "http://fb.me/anistarsung"

;;;

<%= partial "/partials/header_landing_logo" %>

<div class="container-md">
	<div class="card">
		<div class="multi-planet">
			<div class=" card-speaker-title">
				<h3>講者陣容</h3>
				<h4>Speakers</h4>
				<hr class="speaker-hr">
			</div>
			
			<h3 class="card-head card-gray mbxl-impot">
				<a href="#"><%= current_page.data.name %></a>
			</h3>
			<div class="card-body nopadding">
				<div class="row detail-gray nopadding">
					<div class="col-sm-5 nopadding">
						<img src="images/speaker/<%= current_page.data.image %>" alt="" class="img-responsive">
					</div>
					<div class="col-sm-7 nopadding speakerInfo">
            <div class="detail">
              <p>
                <%= current_page.data.info %>
              </p>

              <ul class="socialNetworkLink">
              <% if current_page.data.facebook && current_page.data.facebook != "" %>
                <li><a href="<%= current_page.data.facebook %>" target="_blank">Facebook</a></li>
              <% end %>

              <% if current_page.data.github && current_page.data.github != "" %>
                <li><a href="<%= current_page.data.github %>" target="_blank">Github</a></li>
              <% end %>

              <% if current_page.data.blog && current_page.data.blog != "" %>
                <li><a href="<%= current_page.data.blog %>" target="_blank">Blog</a></li>
              <% end %>

              <% if current_page.data.website && current_page.data.website != "" %>
                <li><a href="<%= current_page.data.website %>" target="_blank">Website</a></li>
              <% end %>
              </ul>
            </div>
					</div>
				</div>
			</div>
      <div class="detail-bottom"></div>
		</div>
	</div>
</div>


